.example-container {
    /* height: 400px; */
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

body {
    font-family: 'Roboto', sans-serif;
}


.layout-container {
    display: flex;
    height: 100vh; 
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

   
.content-area {
    flex: 1; 
    padding: 0;
    overflow-y: auto; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#forgot-password {
    background-color: white;
    width: 600px;
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 10;
    max-width: 100%;
}

.btn {
    background-color: #007CF8;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



