<!-- <div class="layout-container">
    <div class="content-area">
        <app-header></app-header>

        <div id="forgot-password">
            <h1 id="title" class="text-center" style="color: #353167; font-size: 35px;
            font-weight: 600; gap: 12px;">Forgot Password</h1>

            <div style="font-weight: 400; font-size: 12px; text-align: center; color: #000000;">
                Verify your email to reset the password
            </div>


            <div id="email" style="margin-top: 15px;">

                <div style="font-weight: 500; font-size: 16px;">Email</div>
                <div class="input-group" style="margin-top: 12px;">

                    <input 
                    type="email" 
                    [(ngModel)]="user.userId" 
                    name="email" 
                    class="form-control" 
                    style="padding-left: 15px;"
                    placeholder="Enter your registered email ID" 
                    required
                    #emailInput="ngModel"  
                  />
                </div>
        
              
                <div *ngIf="emailInput.invalid && emailInput.touched" style="color: red; font-size: 12px;">
                  <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
                  <div *ngIf="emailInput.errors?.['email']">Please enter a valid email address.</div>
                </div>
        
           
                <button 
                  class="form-control btn" 
                  type="button" 
                  style="margin-top: 20px;" 
                  (click)="verifyEmail()" 
                  [disabled]="!user.userId || !isValidEmail(user.userId)">
                  Get OTP
                </button>

                <div style="display: flex; font-weight: 400; font-size: 14px; padding-left: 100px;
                gap: 5px;">

                    <div style="color: #666666;">If you remember your password click </div>

                    <a routerLink="/login" class="forgot-password"> back to login</a>

                </div>

                <div style="color: #666666; font-weight: 400; font-size: 14px; padding-left: 100px;
                margin-top: 10px;">The OTP will be sent to your registered/verified email id.</div>



                
            </div>
        </div>
    </div>
</div> -->

 <div class="row" >
    <div class="col-6" style="padding-left: 0;overflow-y: hidden;" >
        <div style="height:100vh;background-color: rgba(243, 247, 252, 1);margin-right:5px">
            <div style="display: flex;flex-direction: row;gap:60px;padding-top:35px;margin-left:70px">
                <div class="imageContainer" style="width: 200px;">
                    <img src="assets/Images/rbilogo.png">
                </div>
                <div style="display: flex;flex-direction: row;gap:30px;">
                    <div class="imageContainer" style="width: 85px;padding-top: 5px;">
                        <img src="assets/Images/idrbtlogo.png">
                    </div>
                    <div class="idrbtText">
                        Institute for Development and Research 
                        in Banking Technology
                    </div>
                </div>
               
            </div>
            <div style="margin-left:120px;margin-top: 20px;">
                <div class="imageContainer1" >
                    <img src="assets/Images/bankorfin.png" >
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="col-6" style="display: block;align-content: center;">
        <div style="margin-left:30px;margin-right: 30px;display:flex;flex-direction: column;">
            <div class="loginMsg">Forgot Password</div>
            <p class="loginMsg" style="font-weight: 400;font-size: 14px;padding-bottom: 20px;">Verify your email to reset the password</p>
          
          
            

               <div style="font-weight: 500; font-size: 16px;margin-bottom: 5px">Email ID</div>
               <input type="email" [(ngModel)]="user.userId"  placeholder="Enter your official Email ID">
             
           
              <div style='display: flex; justify-content: space-between; align-items: center; margin-top: 25px;'>
                <div></div>
                <div style="display: flex; gap: 40px;">
                    <button class="btn btn-primary" (click)="backButton()" style="height: 40px; width: 150px;">Back to Login</button>
                    <button class="btn btn-primary" (click)="verifyEmail()" style="height: 40px; width: 150px;">Next</button>
                  </div>
                  
              </div>
           <div class="bottom-links"> 
                <div>Disclaimer</div>
                <div>Privacy Policy</div>
                <div>Contact</div>
                <div>User Manual</div>
              </div>
          </div>
         


