.example-container {
  /* height: 400px; */
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

/* table tr th{
  background-color: #ECF4FC;
} */

.layout-container {
  display: flex;
  height: 100vh; 
  flex-direction: row;
  width: 100%;
  overflow: hidden;
}

app-side-menu {
  flex: 0 0 250px; 
  max-width: 90px;
  min-width: 90px;
  background-color: #f8f9fa;
}

.content-area {
  flex: 1; 
  padding: 0;
  overflow-y: auto; 
}

.header-content {
  display: flex;               
  align-items: center;         
  gap: 10px;   
  margin-top: -40px;    
  margin-left:10px;           
}
.content-area {
flex-grow: 1; 
margin-left:0px;
padding-left: 0px;
padding-top: 20px;
padding-right:0px;


}

.content-wrapper h3 {
font-size: 24px;
margin-bottom: 0px;         
padding-left: 10px;     
}
.content-wrapper h4 {
font-size: 24px;
margin-bottom: 30px;              
padding-left: 10px;    
}
.details-container {
margin-top: 10px;
display: flex;
align-items: flex-start;
padding: 16px 24px;
gap: 20px; 
justify-content: space-between;

background: #F5FAFF;

border-radius: 8px;
margin-bottom: 10px;

box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);


opacity: 1; 
transition: opacity 0.3s ease; 
}
.detail-item {
display: flex;
flex-direction: column;
justify-content: center;
font-family:Roboto;
font-size: 18px;
}

.details-container p {
margin: 0;
}


table tr th{
  font-size: 13px;
  background-color: #ecf4fc;
}

table tr td{
  font-size: 13px;
}

div{
  font-size: 13px;
}
.box-content {
  margin-top: 10px;
  padding: 10px;
 border-radius: 5px;
 background: #FFFFFF;

  min-height: 40px;
  font-size: 13px;
}
.first{
  width: Fixed (1,272px)px;
height: Hug (638px)px;

left: 137px;
padding:10px;
margin-top: 20px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background: #FFFFFF;
box-shadow: 0px 0px 4px 0px #80808040;

}
.odd-row {
  background: #F7F7F7;

}

.even-row {
  background: #F5F5F5;
 
}
#trashIcon, #editIcon {
  cursor: pointer;
  background: none;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
th{
  background-color: #ecf4fc;
}