<div class="container-fluid">
    <app-header></app-header>
    <div class="background"></div>
    <div id="login">
        <h1 id="title" class="text-center">Registration</h1>

        <h5>Name <span class="required">*</span></h5>
        <div class="name-container">
            <input type="text" class="form-control" [(ngModel)]="user.userName" id="name"
                placeholder="Enter your full name" (blur)="nameChange()" (input)="nameChange()" />
        </div>
        <div *ngIf="!nameInput" class="error-message">{{ nameErrorMessage }}</div>

<div id="email">
<h5>Email ID <span class="required">*</span></h5>
    <div class="input-group">
<input  type="email"  placeholder="Enter your email"  class="form-control"   [(ngModel)]="user.userId"   (input)="toggleEmailButton()"  (focus)="emailChange()" />
<button *ngIf="showEmailButton" type="button" class="get-email-btn"  id="email-btn" (click)="saveRegUser()">Verify</button>
<button id="showModal" hidden="true" data-toggle="modal" data-target="#exampleModal"></button>
    </div>
    <div *ngIf="!emailInput" class="error-message">{{ emailerrorMessage }}</div>
  </div>
        <div id="mobile-number">
            <h5>Mobile Number <span class="required">*</span></h5>
            <div class="input-group">
                <input type="text" placeholder="+91 Enter your number" maxlength="10" class="form-control"
                    [(ngModel)]="user.mobileNumber" (blur)="numberChange()" (input)="toggleNumberButton()" />
            </div>
            <div *ngIf="!numberInput" class="error-message">{{ numbererrorMessage }}</div>
        </div>

        <h5>Password <span class="required">*</span></h5>
        <div class="password-container">
            <input type="password" id="password" placeholder="Enter your strong password" class="form-control"
                [(ngModel)]="user.encryptedPassword" (blur)="passwordChange()" (input)="passwordChange()">
            <button type="button" id="togglePassword" class="eye-icon" (click)="togglePasswordVisibility()">
                <i class="fas" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
        </div>
        <div *ngIf="!passwordNameInput" class="error-message">{{ passwordErrorMessage }}</div>

        <h5>Confirm Password <span class="required">*</span></h5>
        <div class="password-container">
            <input type="password" id="confirmPassword" placeholder="Re-enter the password" class="form-control"
                [(ngModel)]="user.confirmPassword" (blur)="confirmPasswordChange()" (input)="confirmPasswordChange()">
            <button type="button" id="toggleConfirmPassword" class="eye-icon"
                (click)="toggleConfirmPasswordVisibility()">
                <i class="fas" [ngClass]="isConfirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
        </div>
        <div *ngIf="!confirmPasswordInput" class="error-message">{{ confirmPasswordErrorMessage }}</div>

        <p style="display: flex; align-items: center; font-size: 14px;">
            <input type="checkbox" id="authorization-checkbox" [(ngModel)]="isAuthorized"
                style="margin-right: 10px; width: 16px; height: 16px; margin-bottom: 10px; padding-top: 10px;">
            I hereby declare that I am an authorized official to access this page and have got the approval to
            register on this portal.
        </p>
        <div *ngIf="!isAuthorized && showError" class="error-message">
            You must agree to the terms and conditions to proceed.
        </div>

        <button class="form-control login-btn" type="button" style="margin-top: 20px; font-family: Roboto;
        font-size: 18px;" (click)="registerUser()"
        >Register</button>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Email Verification</h5>
                <button type="button" class="close" data-dismiss="modal" id="closeRegForm" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Enter the OTP sent to your registered email and verify the email.</p>
                <input type="text" placeholder="Enter your OTP" class="form-control" [(ngModel)]="otp" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="verifyOtp()">Verify</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Registration Success</h2>
          <p>You have successfully registered. Click Continue to login.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="continueToLogin()">Continue</button>
        </div>
      </div>
    </div>
  </div>
  