<!-- <div class="container-fluid">
    <app-header></app-header>
    <div class="background"></div>
    <div id="login">
        <h1 id="title" class="text-center">Registration</h1>

        <h5>Name <span class="required">*</span></h5>
        <div class="name-container">
            <input type="text" class="form-control" [(ngModel)]="user.userName" id="name"
                placeholder="Enter your full name" (blur)="nameChange()" (input)="nameChange()" />
        </div>
        <div *ngIf="!nameInput" class="error-message">{{ nameErrorMessage }}</div>

<div id="email">
<h5>Email ID <span class="required">*</span></h5>
    <div class="input-group">
<input  type="email"  placeholder="Enter your email"  class="form-control"   [(ngModel)]="user.userId"   (input)="toggleEmailButton()"  (focus)="emailChange()" />
<button *ngIf="showEmailButton" type="button" class="get-email-btn"  id="email-btn" (click)="saveRegUser()">Verify</button>
<button id="showModal" hidden="true" data-toggle="modal" data-target="#exampleModal"></button>
    </div>
    <div *ngIf="!emailInput" class="error-message">{{ emailerrorMessage }}</div>
  </div>
        <div id="mobile-number">
            <h5>Mobile Number <span class="required">*</span></h5>
            <div class="input-group">
                <input type="text" placeholder="+91 Enter your number" maxlength="10" class="form-control"
                    [(ngModel)]="user.mobileNumber" (blur)="numberChange()" (input)="toggleNumberButton()" />
            </div>
            <div *ngIf="!numberInput" class="error-message">{{ numbererrorMessage }}</div>
        </div>

        <h5>Password <span class="required">*</span></h5>
        <div class="password-container">
            <input type="password" id="password" placeholder="Enter your strong password" class="form-control"
                [(ngModel)]="user.encryptedPassword" (blur)="passwordChange()" (input)="passwordChange()">
            <button type="button" id="togglePassword" class="eye-icon" (click)="togglePasswordVisibility()">
                <i class="fas" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
        </div>
        <div *ngIf="!passwordNameInput" class="error-message">{{ passwordErrorMessage }}</div>

        <h5>Confirm Password <span class="required">*</span></h5>
        <div class="password-container">
            <input type="password" id="confirmPassword" placeholder="Re-enter the password" class="form-control"
                [(ngModel)]="user.confirmPassword" (blur)="confirmPasswordChange()" (input)="confirmPasswordChange()">
            <button type="button" id="toggleConfirmPassword" class="eye-icon"
                (click)="toggleConfirmPasswordVisibility()">
                <i class="fas" [ngClass]="isConfirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button>
        </div>
        <div *ngIf="!confirmPasswordInput" class="error-message">{{ confirmPasswordErrorMessage }}</div>

        <p style="display: flex; align-items: center; font-size: 14px;">
            <input type="checkbox" id="authorization-checkbox" [(ngModel)]="isAuthorized"
                style="margin-right: 10px; width: 16px; height: 16px; margin-bottom: 10px; padding-top: 10px;">
            I hereby declare that I am an authorized official to access this page and have got the approval to
            register on this portal.
        </p>
        <div *ngIf="!isAuthorized && showError" class="error-message">
            You must agree to the terms and conditions to proceed.
        </div>

        <button class="form-control login-btn" type="button" style="margin-top: 20px; font-family: Roboto;
        font-size: 18px;" (click)="registerUser()"
        >Register</button>
    </div>
</div> -->

        <div id="registerPage" class="row" >
            <div class="col-6" style="padding-left: 0;overflow-y: hidden;" >
                <div style="height:100vh;background-color: rgba(243, 247, 252, 1);margin-right:5px">
                    <div style="display: flex;flex-direction: row;gap:60px;padding-top:35px;margin-left:70px">
                        <div class="imageContainer" style="width: 200px;">
                            <img src="assets/Images/rbilogo.png">
                        </div>
                        <div style="display: flex;flex-direction: row;gap:30px;">
                            <div class="imageContainer" style="width: 85px;padding-top: 5px;">
                                <img src="assets/Images/idrbtlogo.png">
                            </div>
                            <div class="idrbtText">
                                Institute for Development and Research 
                                in Banking Technology
                            </div>
                        </div>
                       
                    </div>
                    <div style="margin-left:120px;margin-top: 20px;">
                        <div class="imageContainer" >
                            <img src="assets/Images/bankorfin.png" >
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="col-6"style="display: block;align-content: center;">
                <div style="margin-left:20px;margin-right: 20px;margin-top: 20px;display:flex;flex-direction: column;">
                    <div class="loginMsg">Register using official email ID</div>
                    <p class="loginMsg" style="font-weight: 400;font-size: 14px;padding-bottom: 5px;">Already have a account? <a routerLink="/login">Login</a></p>
                  
                    
                    <div style="font-weight: 500; font-size: 14px;margin-bottom: 5px;">Email</div>
                    <div class="input-container" [ngStyle]="{'margin-bottom': emailInput ? '30px' : '0px'}">
                      <input type="text" [disabled]="isEmailVerified" id="email" (change)="toggleEmailButton()"  (input)="emailChange()"  [(ngModel)]="user.userId" placeholder="Enter your official email to receive an OTP">
                      <span *ngIf="!isEmailVerified" class="get-otp" (click)="saveRegUser()" >Send OTP</span>
                      <span *ngIf="isEmailVerified" class="get-otp">Email Verified</span>
                      
                    
                    </div>
                    <div *ngIf="!emailInput"style='margin-bottom:5px' class="error-message">{{ emailerrorMessage }}</div>
                    <!-- <button *ngIf="showEmailButton" type="button" class="get-email-btn"  id="email-btn" (click)="saveRegUser()">Verify</button> -->
                    <div style="margin-bottom: 15px;">
                        <div style="font-weight: 500; font-size: 14px; margin-bottom: 5px;">Mobile Number</div>
                        <div style="display: flex; align-items: center;"> 
                            <span class="mobile-number-container" style="color:rgb(84, 84, 84)">+91</span>
                            <input type="text" 
                                   maxlength="10" 
                                   [(ngModel)]="user.mobileNumber" 
                                   (focus)="addCountryCode()" 
                                   (ngModelChange)="numberChange()" 
                                   [disabled]="!isEmailVerified" 
                                   placeholder="Enter 10-digit mobile number" />
                        </div>
                        <div *ngIf="!numberInput" class="error-message">{{ numbererrorMessage }}</div>
                    </div>
                   
                    
                    <div style="margin-bottom: 15px;">
                        <div style="font-weight: 500; font-size: 14px;margin-bottom: 5px">Full Name</div>
                        <input type="text" [(ngModel)]="user.userName" id="name"
                        placeholder="Enter your full name" (ngModelChange)="nameChange()" [disabled]="!isEmailVerified">
                        <div *ngIf="!nameInput" class="error-message">{{ nameErrorMessage }}</div>
                    
                    </div>
                      <div style="margin-bottom: 15px;">
                        <div style="font-weight: 500; font-size: 14px;margin-bottom: 5px">Password</div>
                            <input type="password" [(ngModel)]="user.encryptedPassword" (change)="passwordChange()" [disabled]="!isEmailVerified"  placeholder="Enter the strong password">
                            <div *ngIf="!passwordNameInput" class="error-message">{{ passwordErrorMessage }}</div>
                            <!-- <span class="toggle-password">Show</span> -->
                      </div>

                      <div style="margin-bottom: 15px;">
                        <div style="font-weight: 500; font-size: 14px;margin-bottom: 5px">Confirm Password<div>
                            <input type="password" placeholder="Re-enter the password"
                            [(ngModel)]="user.confirmPassword" (change)="confirmPasswordChange()" [disabled]="!isEmailVerified">
                            <div *ngIf="!confirmPasswordInput" class="error-message">{{ confirmPasswordErrorMessage }}</div>
                            <!-- <span class="toggle-password">Show</span> -->
                      </div>
                      <div style="margin-bottom: 10px;margin-top: 10px;">
                        <input type="checkbox" [(ngModel)]="disclaimerChecked" (change)="checkBoth()" id="disclaimerCheckbox" [disabled]="!isEmailVerified">
                        <label for="disclaimerCheckbox" style="padding-left: 10px;">I agree to the Disclaimer and the Privacy Policy laid down by RBI</label><br>
                      </div>
                      <div>
                        <input type="checkbox"  [(ngModel)]="legitimatePurposeChecked" (change)="checkBoth()" id="legitimatePurposeCheckbox" [disabled]="!isEmailVerified">
                        <label for="legitimatePurposeCheckbox" style="padding-left: 10px;">I declare that the usage of this portal is for my own legitimate purpose</label>
                      </div>
                      <div *ngIf="!isAuthorized && showError" class="error-message">
                        You must agree to the terms and conditions to proceed.
                    </div>
                     
                      <div style='display: flex;justify-self: flex-end;margin-top: 10px;margin-bottom:10px'>
                       
                        <div>
                          <button class="btn btn-primary" style="width:150px" (click)="registerUser()" [disabled]="!isEmailVerified">Register</button>
                        </div>
                      </div>
  
                      <div class="bottom-links"> 
                        <div>Disclaimer</div>
                        <div>Privacy Policy</div>
                        <div>Contact</div>
                        <div>User Manual</div>
                      </div>
                  </div>
                  </div>
                
               
                  
  
                 
          
    
    <button id="showModal" hidden="true" data-toggle="modal" data-target="#exampleModal"></button>  

 <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Email Verification</h5>
                <button type="button" class="close" data-dismiss="modal" id="closeRegForm" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Enter the OTP sent to your registered email and verify the email.</p>
                <input type="text" placeholder="Enter your OTP" class="form-control" [(ngModel)]="otp" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="verifyOtp()">Verify</button>
            </div>
        </div>
    </div>
</div> -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Email Verification</h5>
                <button type="button" class="close" data-dismiss="modal" id="closeRegForm" aria-label="Close">
                    <span aria-hidden="true" (click)="resetTimer()">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Enter the OTP sent to your registered email and verify the email.</p>
                <input type="number" placeholder="Enter your OTP" (keydown)="otpValidation($event)" class="form-control" [(ngModel)]="otp" />
                <div style="display:flex;justify-content: space-between;flex-direction: row;">
                    <div *ngIf="timerActive">
                        <p>{{ timerDisplay }}</p>
                      </div>
                      <div *ngIf="!timerActive" style="color:red">
                        <p>{{ errorMessage }}</p>
                      </div>
              
                      <div>
                        <p  *ngIf="!timerActive " style="color: blue;text-decoration: underline;cursor: pointer;" (click)="resendOtp()">Resend OTP</p>
                        <p  *ngIf="timerActive" style="color: black;">Resend OTP</p>
                      </div>
                </div>
                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="verifyOtp()">Verify</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter" back tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Registration Success</h2>
          <p>You have successfully registered. Click Continue to login.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="continueToLogin()">Continue</button>
        </div>
      </div>
    </div>
  </div>
  