<div class="layout-container">
    <app-side-menu></app-side-menu>
    <div class="content-area">
      <app-main-header></app-main-header>
      <div class="container-fluid">
        <div *ngIf="domainsList?.length == 0 ;else displayDomains">
          <app-user-domain-details></app-user-domain-details>
        </div>
        <div>
          <ng-template #displayDomains>
            <div *ngIf="domainsList?.length > 0 && role != 'IDRBTADMIN'" class="row" style="padding-top: 100px;">
              <div class="col-sm-12">
                <h1 style="margin-bottom: 10px;font-weight:500">
                  Domains
                </h1>
                <div class="d-flex align-items-center" style="margin-left: 0;">
                 
                  <button *ngIf="role != 'IDRBTADMIN'" class="btn btn-primary ml-3" style="margin-left: 0px !important;" (click)="navigateToAddDomain()">
                    <svg width="20" height="20" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 22.5C17.5228 22.5 22 18.0228 22 12.5C22 6.97715 17.5228 2.5 12 2.5C6.47715 2.5 2 6.97715 2 12.5C2 18.0228 6.47715 22.5 12 22.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M2 12.5H22" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M12 2.5C14.5013 5.23835 15.9228 8.79203 16 12.5C15.9228 16.208 14.5013 19.7616 12 22.5C9.49872 19.7616 8.07725 16.208 8 12.5C8.07725 8.79203 9.49872 5.23835 12 2.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                      
                    Add Domain</button>
                    <div style="height: 20%; padding-left: 17px; position: relative;width: 200px;">
                      <i class="fas fa-search" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); color: #ccc; /* Light gray color */"></i>
                      <input type="text" placeholder="Search"
                             style="margin-left: 0px; padding: 8px 10px; height: 38px;
                                   width:100%; margin-top: 0px; margin-bottom: 0px; padding-right: 35px; /* Increased padding-right */"
                             [(ngModel)]="searchText" (ngModelChange)="applyFilter()" matInput #input>
                    </div>
                  </div>
              

                  <section class="example-container" style="margin-top: 10px;">
                    <!-- <div *ngIf="noDataFound" class="no-results-message">
                      No data found matching the filters.
                    </div> -->
                    <table id="table1" *ngIf="!noDataFound" mat-table [dataSource]="domainsDataSource" 
                    matSort matSortActive="domainId" class="mat-elevation-z8">
                      <!-- Checkbox Column -->
                      <!-- <ng-container matColumnDef="checkbox">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                          <input type="checkbox" id="mainCheckBox" />
                        </th>
                        <td mat-cell *matCellDef="let domain; let i = index">
                          <input type="checkbox" id="subCheckBox{{i}}" class="subCheckBox" value="{{domain.domainId}}" />
                        </td>
                      </ng-container> -->
      
                    <!-- Domain ID Column -->
                    <ng-container matColumnDef="domainId">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Domain ID</th>
                      <td style="cursor: pointer;text-decoration: underline;color: blue;" (click)="navigateToDomainDetails(domain.domainId)" mat-cell *matCellDef="let domain">{{domain.domainId}}</td>
                    </ng-container>
      
                    <!-- Domain Name Column -->
                    <ng-container matColumnDef="domainName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Domain Name</th>
                      <td mat-cell *matCellDef="let domain">{{domain.bankName}}{{domain.domainName}}</td>
                    </ng-container>
      
                    <!-- Organisation Name Column -->
                    <ng-container matColumnDef="organizationName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization Name</th>
                      <td mat-cell *matCellDef="let domain">{{domain.organizationName}}</td>
                    </ng-container>
      
                    <!-- Registration Date Column -->
                    <ng-container matColumnDef="registrationDate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Registration Date</th>
                      <td mat-cell *matCellDef="let domain">{{domain.registrationDate |date:'MMM d, y, h:mm a'}}</td>
                    </ng-container>
      
                    <!-- Renewal Date Column -->
                    <ng-container matColumnDef="renewalDate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Renewal Date</th>
                      <td mat-cell *matCellDef="let domain">{{domain.renewalDate |date:'MMM d, y, h:mm a'}}</td>
                    </ng-container>
      
                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Domain Status</th>
                      <td mat-cell *matCellDef="let domain">{{domain.status}}</td>
                    </ng-container>
      
                    <!-- Header Row -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <!-- Data Rows -->
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </section>
                <mat-paginator style="font-size: 13px;" [pageSizeOptions]="[5, 10, 20 ]"
                showFirstLastButtons [pageSize]="10"
                aria-label="Select page of periodic elements">
               </mat-paginator>
              </div>
            </div>
          </ng-template>
        </div>
       
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div>
          <div class="detail-item">
            <p>Domain Name</p>
            <div class="input-group">
              <input type="text" placeholder="Search Domain name" class="form-control" [(ngModel)]="filters.domainName"  />
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.125 10.5272H11.5325L11.3225 10.3247C12.0575 9.46969 12.5 8.35969 12.5 7.15219C12.5 4.45969 10.3175 2.27719 7.625 2.27719C4.9325 2.27719 2.75 4.45969 2.75 7.15219C2.75 9.84469 4.9325 12.0272 7.625 12.0272C8.8325 12.0272 9.9425 11.5847 10.7975 10.8497L11 11.0597V11.6522L14.75 15.3947L15.8675 14.2772L12.125 10.5272ZM7.625 10.5272C5.7575 10.5272 4.25 9.01969 4.25 7.15219C4.25 5.28469 5.7575 3.77719 7.625 3.77719C9.4925 3.77719 11 5.28469 11 7.15219C11 9.01969 9.4925 10.5272 7.625 10.5272Z"
                  fill="#A6A6A6" />
              </svg>
            </div>

          </div>
          <div class="detail-item">
            <p>Organization Name</p>
            <div class="input-group">
              <input type="text" placeholder="Select Organization Name" class="form-control" [(ngModel)]="filters.organisationName"  />
              <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.125 10.5272H11.5325L11.3225 10.3247C12.0575 9.46969 12.5 8.35969 12.5 7.15219C12.5 4.45969 10.3175 2.27719 7.625 2.27719C4.9325 2.27719 2.75 4.45969 2.75 7.15219C2.75 9.84469 4.9325 12.0272 7.625 12.0272C8.8325 12.0272 9.9425 11.5847 10.7975 10.8497L11 11.0597V11.6522L14.75 15.3947L15.8675 14.2772L12.125 10.5272ZM7.625 10.5272C5.7575 10.5272 4.25 9.01969 4.25 7.15219C4.25 5.28469 5.7575 3.77719 7.625 3.77719C9.4925 3.77719 11 5.28469 11 7.15219C11 9.01969 9.4925 10.5272 7.625 10.5272Z"
                  fill="#A6A6A6" />
              </svg>

            </div>
          </div>
          <div class="detail-item">
            <p>Status</p>
            <div class="input-group">
              <select type="text" placeholder="Select  Status" class="form-control" [(ngModel)]="filters.status" >
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>

            </div>
          </div>
          <div class="detail-item">
            <p>Registration Date & Time</p>
            <div class="date">
              <h3>From:</h3>
              <div class="input-group">
                <input type="text" placeholder="dd/mm/yyyy" class="form-control" />
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M19.5 4.02722H18.5V3.02722C18.5 2.47722 18.05 2.02722 17.5 2.02722C16.95 2.02722 16.5 2.47722 16.5 3.02722V4.02722H8.5V3.02722C8.5 2.47722 8.05 2.02722 7.5 2.02722C6.95 2.02722 6.5 2.47722 6.5 3.02722V4.02722H5.5C4.39 4.02722 3.51 4.92722 3.51 6.02722L3.5 20.0272C3.5 21.1272 4.39 22.0272 5.5 22.0272H19.5C20.6 22.0272 21.5 21.1272 21.5 20.0272V6.02722C21.5 4.92722 20.6 4.02722 19.5 4.02722ZM19.5 19.0272C19.5 19.5772 19.05 20.0272 18.5 20.0272H6.5C5.95 20.0272 5.5 19.5772 5.5 19.0272V9.02722H19.5V19.0272ZM7.5 11.0272H9.5V13.0272H7.5V11.0272ZM11.5 11.0272H13.5V13.0272H11.5V11.0272ZM15.5 11.0272H17.5V13.0272H15.5V11.0272Z"
                    fill="#606060" />
                </svg>
              </div>
            </div>
            <div class="date">
              <h3>To:</h3>
              <div class="input-group">
                <input type="text" placeholder="dd/mm/yyyy" class="form-control" />
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M19.5 4.02722H18.5V3.02722C18.5 2.47722 18.05 2.02722 17.5 2.02722C16.95 2.02722 16.5 2.47722 16.5 3.02722V4.02722H8.5V3.02722C8.5 2.47722 8.05 2.02722 7.5 2.02722C6.95 2.02722 6.5 2.47722 6.5 3.02722V4.02722H5.5C4.39 4.02722 3.51 4.92722 3.51 6.02722L3.5 20.0272C3.5 21.1272 4.39 22.0272 5.5 22.0272H19.5C20.6 22.0272 21.5 21.1272 21.5 20.0272V6.02722C21.5 4.92722 20.6 4.02722 19.5 4.02722ZM19.5 19.0272C19.5 19.5772 19.05 20.0272 18.5 20.0272H6.5C5.95 20.0272 5.5 19.5772 5.5 19.0272V9.02722H19.5V19.0272ZM7.5 11.0272H9.5V13.0272H7.5V11.0272ZM11.5 11.0272H13.5V13.0272H11.5V11.0272ZM15.5 11.0272H17.5V13.0272H15.5V11.0272Z"
                    fill="#606060" />
                </svg>
              </div>
            </div>
          </div>
          <div class="detail-item">
            <p>Renewal Date & Time</p>
            <div class="date">
              <h3>From:</h3>
              <div class="input-group">
                <input type="text" placeholder="dd/mm/yyyy" class="form-control" />
                <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M19.5 4.02722H18.5V3.02722C18.5 2.47722 18.05 2.02722 17.5 2.02722C16.95 2.02722 16.5 2.47722 16.5 3.02722V4.02722H8.5V3.02722C8.5 2.47722 8.05 2.02722 7.5 2.02722C6.95 2.02722 6.5 2.47722 6.5 3.02722V4.02722H5.5C4.39 4.02722 3.51 4.92722 3.51 6.02722L3.5 20.0272C3.5 21.1272 4.39 22.0272 5.5 22.0272H19.5C20.6 22.0272 21.5 21.1272 21.5 20.0272V6.02722C21.5 4.92722 20.6 4.02722 19.5 4.02722ZM19.5 19.0272C19.5 19.5772 19.05 20.0272 18.5 20.0272H6.5C5.95 20.0272 5.5 19.5772 5.5 19.0272V9.02722H19.5V19.0272ZM7.5 11.0272H9.5V13.0272H7.5V11.0272ZM11.5 11.0272H13.5V13.0272H11.5V11.0272ZM15.5 11.0272H17.5V13.0272H15.5V11.0272Z"
                    fill="#606060" />
                </svg>
              </div>
            </div>
         
            </div>
          </div>

          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearButton()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="filterButton()">Apply</button>
          </div>
          

        </div>
      </div>
    </div>