.example-container {
    /* height: 400px; */
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }

  table tr th{
    background-color: #ECF4FC;
  }

  .layout-container {
    display: flex;
    height: 100vh; /* Full-height layout */
   
  }
  
  app-side-menu {
    flex: 0 0 250px; /* Fixed width for the sidebar */
    max-width: 90px;
    min-width: 90px;
    background-color: #f8f9fa; /* Example background color */
  }
  
  .content-area {
    flex: 1; /* Fills the remaining space */
    padding: 0;
    overflow-y: auto; /* Handles scrolling for content */
  }

.required{
  color: red;
}
  table tr th{
    font-size: 13px;
  }

  table tr td{
    font-size: 13px;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 2px;
    padding-bottom: 3px;
}

  /* mat-slide-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .modal-body{
    font-size: 13px;
  }

  input::placeholder {
    font-size: 12px;
    color: gray; 
  }

  .button-svg-container {
    display: flex;
    align-items: center;
    gap: 30px; 
  }
  h3 {
    margin: 0;
  }
  
  button {
    margin: 0;
  }
  table#table1 tr:nth-child(even) {
   
    background: #F7F7F7;

  }
  
  table#table1 tr:nth-child(odd) {
    background: #FFFFFF;

  }

  .approved{
    cursor: pointer;
  }

  .rejected{
    cursor: pointer;
  }

  /* Add some spacing between the buttons */
.button-container {
  display: flex;
  gap: 15px; /* Adjust the gap between buttons */
  justify-content: flex-start; /* Align buttons to the left (can also use 'center' for centering) */
  margin-top: 20px; /* Optional: Add margin at the top */
}

/* Style for the Submit button */
.submit-btn {
  background-color: #00376A;  /* Example background color */
  color: white;               /* Text color */
  border: none;               /* Remove border */
  padding: 10px 20px;         /* Padding for better size */
  font-size: 16px;            /* Adjust font size */
  cursor: pointer;           /* Show pointer on hover */
  border-radius: 5px;         /* Optional: Add rounded corners */
}

/* Style for the Cancel button */
.cancel-btn {
  background-color: #f44336;  /* Example background color for cancel */
  color: white;               /* Text color */
  border: none;               /* Remove border */
  padding: 10px 20px;         /* Padding for better size */
  font-size: 16px;            /* Adjust font size */
  cursor: pointer;           /* Show pointer on hover */
  border-radius: 5px;         /* Optional: Add rounded corners */
}

.error-message{
  color:red;
  font-size: small;
}
