<!-- Reminder Modal Component -->
<div class="modal fade" id="reminderModal" tabindex="-1" aria-labelledby="reminderModalLabel" aria-hidden="true" style="background-color:transparent;">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 75%; width: 75%; margin: auto; ">
      <div class="modal-content">
        <div class="modal-header">
          <div id="reminderModalLabel">
            <h2 class="modal-title">Please keep these handy</h2>
          </div>
        </div>
            <div class="modal-body d-flex flex-column justify-content-center align-items-center text-center">
              <div class="container">
                <div class="info-box">
                  <h1 class="section-title">Administrative Contact DSC Dongle</h1>
                  <p>Please ensure you have the following details for completing the On-boarding process:</p>
            
                  <div class="required-docs">
                    <h3 class="sub-title">Organisation Details:</h3>
                    <ul>
                      <li>Organisation mail id</li>
                      <li>Organisation contact number</li>
                      <li>Organisation address</li>
                      <li>Organisation GSTIN</li>
                      <li>PAN</li>
                      <li>License number</li>
                    </ul>
            
                    <h4 class="sub-title">Required Documents:</h4>
                    <ul>
                      <li>Organisation GSTIN</li>
                      <li>PAN</li>
                      <li>License number</li>
                      <li>Board resolution</li>
                    </ul>
                  </div>
                </div>
            
                <div class="info-box">
                  <h2 class="section-title">Three Organisation Contact Person's Details and Required Documents</h2>
                  <p>Below are the required contact details and documents for three organisational representatives:</p>
                  <div class="required-docs">
                    <div class="row">
                        <div class="col-md-4">
                          <h3 class="sub-title">Administrative Contact:</h3>
                          <ul>
                            <li>Full Name</li>
                            <li>Contact No</li>
                            <li>Organisation Mail ID</li>
                            <li>Designation</li>
                            <li>PAN</li>
                            <li>Aadhaar No</li>
                          </ul>
                          <h4 class="sub-title">Required Documents:</h4>
                          <ul>
                            <li>PAN</li>
                            <li>Aadhaar No</li>
                            <li>Organisation ID</li>
                          </ul>
                        </div>
                
                        <div class="col-md-4">
                          <h3 class="sub-title">Technical Contact:</h3>
                          <ul>
                            <li>Full Name</li>
                            <li>Contact No</li>
                            <li>Organisation Mail ID</li>
                            <li>Designation</li>
                            <li>PAN</li>
                            <li>Aadhaar No</li>
                          </ul>
                          <h4 class="sub-title">Required Documents:</h4>
                          <ul>
                            <li>PAN</li>
                            <li>Aadhaar No</li>
                            <li>Organisation ID</li>
                          </ul>
                        </div>
                
                        <div class="col-md-4">
                          <h3 class="sub-title">Billing Contact:</h3>
                          <ul>
                            <li>Full Name</li>
                            <li>Contact No</li>
                            <li>Organisation Mail ID</li>
                            <li>Designation</li>
                            <li>PAN</li>
                            <li>Aadhaar No</li>
                          </ul>
                          <h4 class="sub-title">Required Documents:</h4>
                          <ul>
                            <li>PAN</li>
                            <li>Aadhaar No</li>
                            <li>Organisation ID</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>      
              </div>
      <div class="footer">
        <div class="justify-content-center">Ensure all documents are ready to complete on-boarding process.</div><br>
        <div class="modal-footer">
          <div class="justify-content-center">
            <button type="button" class="btn btn-primary" (click)="closeModal()">Got it!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  