
        <div class="row" >
            <div class="col-6" style="padding-left: 0;overflow-y: hidden;" >
                <div style="height:100vh;background-color: rgba(243, 247, 252, 1);margin-right:5px">
                    <div style="display: flex;flex-direction: row;gap:60px;padding-top:35px;margin-left:70px">
                        <div class="imageContainer" style="width: 200px;">
                            <img src="assets/Images/rbilogo.png">
                        </div>
                        <div style="display: flex;flex-direction: row;gap:30px;">
                            <div class="imageContainer" style="width: 85px;padding-top: 5px;">
                                <img src="assets/Images/idrbtlogo.png">
                            </div>
                            <div class="idrbtText">
                                Institute for Development and Research 
                                in Banking Technology
                            </div>
                        </div>
                       
                    </div>
                    <div style="margin-left:120px;margin-top: 20px;">
                        <div class="imageContainer1" >
                            <img src="assets/Images/registerloginimage.png" >
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="col-6" style="display: block;align-content: center;">
                <div style="margin-left:30px;margin-right: 30px;display:flex;flex-direction: column;">
                    <div class="loginMsg">Email OTP Verification</div>
                    <p class="loginMsg" style="font-weight: 400;font-size: 14px;padding-bottom: 20px;">Enter the OTP sent to your registered email address</p>
                  
                  
                    
  
                      <div style="font-weight: 500; font-size: 16px;margin-bottom: 5px">OTP</div>
                      <input type="number" [(ngModel)]="otp"  (keydown)="otpValidation($event)"  placeholder="Enter OTP">
                      <div style='display: flex;justify-content: space-between;margin-top: 5px;'>
                        <div>  <p *ngIf="display !='00:00'" style="color: red;"><label style="color: black;">OTP expires in:</label> {{display}}</p> 
                          <p *ngIf="display ==='00:00'" style="color: red;padding-right: 40px;">OTP has expired </p> </div>
                          <div *ngIf="display==='00:00'" (click)="getOtpForLoginUser()" style="color:blue;cursor: pointer;text-decoration: underline;">Resend OTP</div>
                          <div *ngIf="display!='00:00'"  style="color:#000;">Resend OTP</div>
                      </div>
                     
                      <div style='display: flex; justify-content: space-between; margin-top: 25px; height: 40px;'>  <div class="loginMsg"></div>
                        <div>
                            <button class="btn btn-primary" (click)="login()" style="height: 100%; width:150px;">Login</button>
                        </div>
                        </div>
  
                      <div class="bottom-links"> 
                        <div>Disclaimer</div>
                        <div>Privacy Policy</div>
                        <div>Contact</div>
                        <div>User Manual</div>
                      </div>
                  </div>
                  </div>
                  </div>
                
               
                  
  
                 
          
    
  