
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


.background {
    background: #FFFFFF;
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


#login {
    background-color: white;
    width: 600px;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 10;
    max-width: 100%;
}

#title {
    margin-bottom: 20px;
}
h4 {
    margin-bottom: 8px;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.form-control {
    height: 50px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 50px;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-right: none; 
}

.form-control:focus {
    border-color: #80bdff; 
    box-shadow: 0 0 5px rgba(38, 143, 255, 0.5);
    outline: none;
}

.get-otp-btn {
    height: 50px; 
    border: 1px solid #ced4da;
    border-left: none;
    background-color: #007bff; 
    color: white;
    padding: 0 20px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 5px 5px 0px;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease; 
}

.get-otp-btn:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(38, 143, 255, 0.5); 
}

.get-otp-btn:hover {
    background-color: #0056b3; 
    border-color: #0056b3; 
}

.password-container {
    position: relative;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
}


#password {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 14px;
    line-height: 50px;
    box-sizing: border-box;
}

#password:focus {
    border-color: #80bdff;
    outline: none;
}

#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}


.otp-container {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
}

#otp {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    font-size: 14px;
    line-height: 50px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#otp:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(38, 143, 255, 0.5);
    outline: none;
}

.login-btn {
    background-color: #007CF8;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.small-text {
    font-size: 12px;
    color: gray;
    text-align: center;
}


.instruction-text {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #login {
        width: 100%;
        padding: 15px;
    }

    .get-otp-btn {
        font-size: 12px;
    }
}

.forgot-password{
    color: #404040;
    font-weight: 300;
    justify-self: end;
    font-size: 14px;

}

.resend-otp{
    color: #404040;
    font-weight: 300;
    justify-self: end;
    font-size: 14px;

}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content; 
  }
  
  .imageContainer img {
    max-width: 100%;
    max-height: 100%; 
  }
  .imageContainer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content; 
  }
  
  .imageContainer1 img {
    max-width: 100%;
    max-height: 100%; 
  }
.idrbtText{
    font-family: Roboto;
font-size: 15px;
font-weight: 500;
line-height: 18.75px;
text-align: left;

text-decoration-skip-ink: none;

}

  .input-container {
    position: relative; /* To position the "Get OTP" span */
  }
  
  input[type="text"],input[type="password"] {
    border: none; /* Remove default border */
    border-bottom: 1px solid rgba(47, 121, 202, 1); /* Add bottom border */
    padding: 5px 10px;
    width: 100%; /* Make input field fill available space */
    height:36px
  }
  
  .get-otp {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(228, 250, 255, 1); 
    border-bottom: 1px solid rgba(47, 121, 202, 1);
    padding: 5px 10px;
    cursor: pointer;
    height:35px
  }
  input[type="text"]:focus, input[type="password"]:focus {
    outline: none; 
  }
  .loginMsg{
    font-family: Roboto;
font-size: 20px;
font-weight: 700;
line-height: 37.5px;
color:rgba(53, 49, 103, 1)

  }
  .col-6 {
    position: relative; /* Make .col-6 the relative container */
  }
  
  .col-6 .bottom-links {
    position: absolute; /* Position the links absolutely within .col-6 */
    bottom: 0;
    left: 0;
    width: 100%;
   
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
