
    <!-- <app-header></app-header>
 <div id="login">
        <h1 id="title" class="text-center" style="color: #353167; font-size: 40px; 
        font-weight: 600;">Login</h1>
<div id="email">
 <div style="font-weight: 500; font-size: 16px;">Email</div>
 <div class="input-group">
<input  type="email"  placeholder="Enter your email" class="form-control"  [(ngModel)]="user.email"   />
  <button type="button" class="get-otp-btn"  id="otp-btn" (click)="getOtpForLoginUser()"> Get OTP </button>
                </div>
              </div>
 <div style="font-weight: 500; font-size: 16px;">Password</div>
  <div class="password-container">
                <input type="password" id="password" placeholder="Enter your password"
                [(ngModel)]="user.password" class="form-control">
                <button type="button" id="togglePassword" class="eye-icon">
                    <i class="fas fa-eye" id="eyeIcon"></i>
                    <i class="fas fa-eye-slash" id="eyeSlashIcon" style="display: none;"></i>
                </button>
                <a routerLink="/forgot-password-email-verification" class="forgot-password">Forgot Password</a>
            </div>
<div style="font-weight: 500; font-size: 16px;">OTP</div>
            <div class="otp-container">
                <input type="text" id="otp" class="form-control" 
                [(ngModel)]="otp"
                id="otp" placeholder="Enter your OTP">
 <a routerLink="/forgot-password-otp-validation" class="resend-otp">
                  Resend OTP
                </a>
 </div>
 <p class="instruction-text">Enter the OTP sent to your registered email ID</p>

            <button class="form-control login-btn" type="button" style="font-family: Roboto; font-size: 18px;"
            (click)="login()">Login</button>
<p class="small-text">Unauthorized access to this application is an offense and shall be prosecuted under the appropriate Indian Penal Code</p>
        </div> -->
        <div class="row" >
          <div class="col-6" style="padding-left: 0;overflow-y: hidden;" >
              <div style="height:100vh;background-color: rgba(243, 247, 252, 1);margin-right:5px">
                  <div style="display: flex;flex-direction: row;gap:60px;padding-top:35px;margin-left:70px">
                      <div class="imageContainer" style="width: 200px;">
                          <img src="assets/Images/rbilogo.png">
                      </div>
                      <div style="display: flex;flex-direction: row;gap:30px;">
                          <div class="imageContainer" style="width: 85px;padding-top: 5px;">
                              <img src="assets/Images/idrbtlogo.png">
                          </div>
                          <div class="idrbtText">
                              Institute for Development and Research 
                              in Banking Technology
                          </div>
                      </div>
                     
                  </div>
                  <div style="margin-left:120px;margin-top: 20px;">
                      <div class="imageContainer" >
                          <img src="assets/Images/bankorfin.png" >
                      </div>
                  </div>
              </div>
              
              
          </div>
          <div class="col-6" style="display: block;align-content: center;">
              <div style="margin-left:30px;margin-right: 30px;margin-top: 30px;display:flex;flex-direction: column;">
                  <div class="loginMsg">Login to your account</div>
                  <p class="loginMsg" style="font-weight: 400;font-size: 14px;padding-bottom: 20px;">Do not have an account? <a routerLink="/registration">Register</a></p>
                
                
                  <div style="font-weight: 500; font-size: 16px;margin-bottom: 5px;">Email ID</div>
                  <div class="input-container" style="margin-bottom: 30px;">
                    <input type="text" id="email" [(ngModel)]="user.email" (ngModelChange)="emailValidation()" placeholder="Enter your email">
                    <div *ngIf="emailError!=''" style="color:red;font-size: 14px;">Enter email</div>
                    <!-- <span class="get-otp" (click)="getOtpForLoginUser()">Get OTP</span> -->
                  </div>
      
                    <div style="margin-bottom: 30px;">
                      <div style="font-weight: 500; font-size: 16px;margin-bottom: 5px">Password</div>
                          <input type="password" maxlength="16"  [(ngModel)]="user.password" (ngModelChange)="passWordValidation()"  placeholder="Enter the strong password">
                          <div *ngIf="passwordError!=''" style="color:red;font-size: 14px;">Enter password</div>
                          <!-- <span class="toggle-password">Show</span> -->
                    </div>

                    <!-- <div style="font-weight: 500; font-size: 16px;margin-bottom: 5px">OTP</div>
                    <input type="text" [(ngModel)]="otp" placeholder="Enter OTP">
                    <div style='display: flex;justify-content: space-between;margin-top: 5px;'>
                      <div> <p>Enter the OTP sent to your registered email</p></div>
                      <div (click)="getOtpForLoginUser()">Resend OTP</div>
                    </div> -->
                   
                    <div style='display: flex;justify-content: space-between;margin-top: 15px;'>
                      <div class="loginMsg" style="font-size: 14px;font-weight: 500;cursor:pointer" routerLink="/f-p-e-v">
                        Forgot Password?
                      </div>
                      <div>
                        <button class="btn btn-primary" (click)="login()" style="height: 100%;width:150px">Next</button>
                      </div>
                    </div>

                    <div class="bottom-links"> 
                      <div>Disclaimer</div>
                      <div>Privacy Policy</div>
                      <div>Contact</div>
                      <div>User Manual</div>
                    </div>
                </div>
                </div>
              
             
                

               
        
  
