<div class="layout-container">
  <app-side-menu></app-side-menu>
  <div class="content-area">
    <app-main-header></app-main-header>
    <div class="container-fluid">
      <div class="row" style="padding-top: 100px;">
        <div class="col-sm-12">
          <h3>Applications</h3>
          <section class="example-container" style="margin-top: 10px;">
            <table id="table1" mat-table [dataSource]="domainsDataSource" matSort class="mat-elevation-z8">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="checkbox">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  <input type="checkbox" id="mainCheckBox" />
                </th>
                <td mat-cell *matCellDef="let domain; let i = index">
                  <input type="checkbox" id="subCheckBox{{i}}" class="subCheckBox" value="{{domain.domainId}}" />
                </td>
              </ng-container>

              <!-- Domain ID Column -->
              <ng-container matColumnDef="domainId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Domain ID</th>
                <td style="cursor: pointer;text-decoration: underline;color: blue;" (click)="navigateToDomainDetails(domain.domainId)" mat-cell *matCellDef="let domain">{{domain.domainId}}</td>
              </ng-container>

              <!-- Domain Name Column -->
              <ng-container matColumnDef="organisationName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Organisations Name</th>
                <td mat-cell *matCellDef="let domain">{{domain.organizationName}}</td>
              </ng-container>

              <!-- Organisation Name Column -->
              <ng-container matColumnDef="domainName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Domain Name</th>
                <td mat-cell *matCellDef="let domain">{{domain.domainName}}</td>
              </ng-container>

              <!-- Registration Date Column -->
              <ng-container matColumnDef="submissionDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Submission Date</th>
                <td mat-cell *matCellDef="let domain">{{domain.submissionDate}}</td>
              </ng-container>

              <!-- Renewal Date Column -->
              <ng-container matColumnDef="nsRecordStatus">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>NS Record Status</th>
                <td mat-cell *matCellDef="let domain">{{domain.nsRecordStatus}}</td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let domain">{{domain.status}}</td>
              </ng-container>

              <ng-container matColumnDef="industry">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Industry</th>
                  <td mat-cell *matCellDef="let domain">{{domain.industry}}</td>
                </ng-container>

                <ng-container matColumnDef="tenure">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Tenure (yrs)</th>
                  <td mat-cell *matCellDef="let domain">{{domain.numberOfYears}}</td>
                </ng-container>

              <!-- Header Row -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <!-- Data Rows -->
              <tr mat-row *matRowDef="let domain; columns: displayedColumns; " ></tr>
            </table>
          </section>
          <mat-paginator style="font-size: 13px;" [pageSizeOptions]="[5, 10, 20 ]"
          showFirstLastButtons [pageSize]="10"
          aria-label="Select page of periodic elements">
         </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
