<app-header></app-header>


<div class="container-fluid" style="overflow: hidden;">
  <div id="box1" >
    <div class="row" style="display: flex; justify-content: flex-start;">

      <div class="col-6">
        <p id="title">Change Password</p>
        <p id="under-title">Set a strong password to prevent unauthorized access to your account.</p>
        <p id="title-2">
          Password must content
        </p>
        <ul>
          <li>Should have minimum of 8 characters</li>

          <li> Should not start or end with blank space</li>
          <li>Should contain at least 1 uppercase letter</li>
          <li>Should contain at least 1 lowercase letter</li>
          <li> Should contain at least 1 special character (@ # $ * &)</li>
          <li>Should contain at least 1 number</li>
        </ul>
      </div>
    </div>


    <div class="col-6">

      <p class="second-part">Current Password</p>
      <div class="password-container">
        <input type="password" id="password" minlength="8" placeholder="Enter the current password" class="form-control"
          [(ngModel)]="user.oldPassword" (blur)="CurrentpasswordChange()" (input)="CurrentpasswordChange()">
        <!-- <button type="button" id="togglePassword" class="eye-icon" (click)="togglePasswordVisibility()">
            <i class="fas" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button> -->
      </div>
      <div *ngIf="!CurrentpasswordNameInput" class="error-message">{{ CurrentpasswordErrorMessage }}</div>
      <p class="second-part">New Password</p>
      <div class="password-container">
        <input type="password" id="password" minlength="8" placeholder="Enter your strong password" class="form-control"
          [(ngModel)]="user.newPassword" (blur)="passwordChange()" (input)="passwordChange()">
        <!-- <button type="button" id="togglePassword" class="eye-icon" (click)="togglePasswordVisibility()">
                <i class="fas" [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button> -->
      </div>
      <div *ngIf="!passwordNameInput" class="error-message">{{ passwordErrorMessage }}</div>

      <p class="second-part">Confirm Password</p>
      <div class="password-container">
        <input type="password" id="confirmPassword" minlength="8" placeholder="Re-enter the password"
          class="form-control" [(ngModel)]="user.confirmPassword" (blur)="confirmPasswordChange()"
          (input)="confirmPasswordChange()">
        <!-- <button type="button" id="toggleConfirmPassword" class="eye-icon"
                (click)="toggleConfirmPasswordVisibility()">
                <i class="fas" [ngClass]="isConfirmPasswordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
            </button> -->
      </div>
      <div *ngIf="!confirmPasswordInput" class="error-message">{{ confirmPasswordErrorMessage }}</div>
      <div class="button-container">
        <button class="update" (click)="changePasswordButton()">Update</button>
        <button class="cancel" (click)="cancelButton()" id="clear" data-toggle="modal"
          data-target="#exampleModalCenter">Cancel</button>
      </div>
      <p id="last-line">In case of forgot your password, <span class="link-text" style="cursor: pointer;"
          (click)="forgetPasswordPage()">click here</span></p>
    </div>
  </div>
  <div class="help-terms-container">
    <p class="help">Help</p>
    <p class="terms">Terms</p>

    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  </div>



  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-body">
          <p id="last-para">Are you sure, not change your password?</p>
        </div>

        <div class="pop-container">
          <button class="yes" id="clear">Yes</button>
          <button class="no" (click)="cancelButton()">No</button>
        </div>
      </div>
    </div>
  </div>