#box1{
height: auto;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 12px 0px #0000001F;
background-color:white;
position: absolute;
display: flex;
margin-top: 8%;
margin-left: 5%;
text-align: center;
padding-bottom: 60px;
overflow: hidden;
position: fixed;
}
#title{
    font-family: Roboto;
font-size: 40px;
font-weight: 600;
display: flex;
text-align: flex-start;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #353167;
padding-top: 50px;
padding-left: 20px;
white-space: nowrap;

}
#title-2{
    font-family: Roboto;
font-size: 28px;
font-weight: 600;
display: flex;
text-align: flex-start;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #353167;
padding-top: 20px;
padding-left: 20px;
white-space: nowrap;

}
#under-title{
    font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 18.75px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color:black;
white-space: nowrap;
padding-top: 20px;
padding-left: 20px;
}
ul {
    list-style-type: disc; 
    padding-left: 30px; 
    padding-top: 10px;
  }

  li {
    font-size: 16px; 
  padding: 10px;
  color:black;
  white-space: nowrap;
  }
  .second-part{
    font-family: Roboto;
    font-size: 18px;
    color:black;
   padding-top: 20px;
    padding-bottom: 5px;

    display: flex;
    
    padding-left: 150px;
    white-space: nowrap; 
  }
  .password-container{
    padding-left: 150px;
    padding-bottom: 5px;
   
  }
  .row{
    margin-left: 10px;
  }

  .button-container {
    display: flex;
    padding-left: 150px;
    gap:50px;
  }

  button.update {
    background: #007CF8;
font-size: 20px;
    width:280px;
    height:50px;
    margin-top: 20px;
    border: 2px solid #007CF8; 
    border-radius: 5px;
    color:white
}
button.cancel{
    width:280px;
    height:50px;
    font-size: 20px;
    margin-top: 20px;
    border: 2px solid #EB5547;
    border-radius: 5px;
    color:#EB5547;
    background-color: white;
}

#last-line{
    padding-top: 40px;
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
padding-left: 250px;
}

.link-text{
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 24px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #2AA3D9;

}
.help-terms-container {
    position: absolute; 
    bottom: 60px;       
    right: 100px;        
    display: flex;      
    gap: 20px;
           
}



.help, .terms {
    font-size: 16px;     
    color: #666666;
       
    cursor: pointer;    
} 
.container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .alert {
    margin-bottom: 20px;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
  }
  
  .alert-success {
    background-color: #d4edda;
    color: #155724;
  }
.error-message{
    color:red;
    padding-left: 120px;
    overflow: hidden;
    
}  
  #last-para{
    font-family: Poppins;
font-size: 28px;
white-space: nowrap; 
color:black;
padding:5px;
  }
  .yes{
    background: #007CF8;
    font-size: 20px;
        width:150px;
        height:50px;
        margin-top: 20px;
        border: 2px solid #007CF8; 
        border-radius: 5px;
        color:white
  }
  .no{
    width:150px;
    height:50px;
    font-size: 20px;
    margin-top: 20px;
    border: 2px solid #EB5547;
    border-radius: 5px;
    color:#EB5547;
    background-color: white;
  }
  .pop-container{
    display: flex;
  gap: 40px; 
  justify-content: center;
  
  padding-top: 10px;
  margin-bottom: 20px;
  
}

@media (max-width: 768px) {
  #box1 {
      width: 90%;
      margin-top: 20px;
  }
  .second-part {
      padding-left: 10%;
      font-size: 1rem; /* 16px */
      white-space: normal;
  }
}

.example-container {
  /* height: 400px; */
  width: 100%;
  max-width: 100%;
  overflow: auto;
}

table tr th{
  background-color: #ECF4FC;
}

.layout-container {
  display: flex;
  height: 100vh; /* Full-height layout */
}

app-side-menu {
  flex: 0 0 250px; /* Fixed width for the sidebar */
  max-width: 90px;
  min-width: 90px;
  background-color: #f8f9fa; /* Example background color */
}

.content-area {
  flex: 1; /* Fills the remaining space */
  padding: 0;
  overflow-y: auto; /* Handles scrolling for content */
}


table tr th{
  font-size: 13px;
}

table tr td{
  font-size: 13px;
}

