<div class="layout-container">
    <div class="content-area">
        <app-header></app-header>

        <div id="forgot-password">
            <h1 id="title" class="text-center" style="color: #353167; font-size: 35px;
            font-weight: 600; gap: 12px;">Forgot Password</h1>

            <div style="font-weight: 400; font-size: 12px; text-align: center; color: #000000;">
                Verify your email to reset the password
            </div>



            <div style="font-weight: 500; font-size: 16px; margin-bottom: 8px;">Password</div>

            <div class="password-container">
                <input type="password" id="password" placeholder="Enter the strong password" class="form-control">
                <button type="button" id="togglePassword" class="eye-icon">
                    <i class="fas fa-eye" id="eyeIcon"></i>
                    <i class="fas fa-eye-slash" id="eyeSlashIcon" style="display: none;"></i>
                </button>
            </div>

            <div style="font-weight: 500; font-size: 16px; margin-bottom: 8px;">Confirm Password</div>

            <div class="password-container">
                <input type="password" id="password" placeholder="Re-enter the password" class="form-control">
                <button type="button" id="togglePassword" class="eye-icon">
                    <i class="fas fa-eye" id="eyeIcon"></i>
                    <i class="fas fa-eye-slash" id="eyeSlashIcon" style="display: none;"></i>
                </button>
            </div>


            <button class="form-control btn" type="button" style="margin-top: 20px;">Reset Password</button>








        </div>
    </div>
</div>