<div class="layout-container">
    <app-side-menu></app-side-menu>
    <div class="content-area">
        <app-header></app-header>
        <div class="container-fluid" style="max-width: 100vw;">
            <div class="row" style="padding-top: 100px;">
                <div class="col-sm-12">
                    <section class="example-container" style="margin-top: 10px;">
                    <div>
                        
                        <div >

                            <!-- <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 12.5H5" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M12 19.5L5 12.5L12 5.5" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg> -->

                            <h4>Invoice Details</h4>
                        </div>
                        
                        <div class="content-wrapper" class="details-container">
                            <div class="detail-item">
                                <p>Invoice No:</p>
                                <div class="box-content">Axis Bank</div>
                            </div>

                            <div class="detail-item">
                                <p>Invoice Date</p>
                                <div class="box-content">axis.bank.in</div>
                            </div>

                            <div class="detail-item">
                                <p>Due Date</p>
                                <div class="box-content">24/Oct/2024 12:00 Hr</div>
                            </div>

                            <div class="detail-item">
                                <p>Status</p>
                                <div class="box-content">Unpaid</div>
                            </div>

                        </div>

                        <div style="display: flex; justify-content: space-between;">
                            <div style="color: #006CE7; padding-left: 10px;">
                                <p>Mark as paid</p>
                            </div>

                            <div style="display: flex; color: #006CE7;   background-color: #E5F2FF;height: 30px;">
                                <p style="padding-top: 2px; padding-left: 5px;">More Actions</p>
                                <div>
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M10.0003 10.8333C10.4606 10.8333 10.8337 10.4602 10.8337 9.99996C10.8337 9.53972 10.4606 9.16663 10.0003 9.16663C9.54009 9.16663 9.16699 9.53972 9.16699 9.99996C9.16699 10.4602 9.54009 10.8333 10.0003 10.8333Z"
                                            stroke="#006CE7" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M10.0003 5.00004C10.4606 5.00004 10.8337 4.62694 10.8337 4.16671C10.8337 3.70647 10.4606 3.33337 10.0003 3.33337C9.54009 3.33337 9.16699 3.70647 9.16699 4.16671C9.16699 4.62694 9.54009 5.00004 10.0003 5.00004Z"
                                            stroke="#006CE7" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                        <path
                                            d="M10.0003 16.6667C10.4606 16.6667 10.8337 16.2936 10.8337 15.8333C10.8337 15.3731 10.4606 15 10.0003 15C9.54009 15 9.16699 15.3731 9.16699 15.8333C9.16699 16.2936 9.54009 16.6667 10.0003 16.6667Z"
                                            stroke="#006CE7" stroke-width="2" stroke-linecap="round"
                                            stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <hr />

                        <div style="font-weight: 500; padding-left: 10px;">
                            <p>Billing Address</p>
                        </div>

                        <div style="font-weight: 400; padding-left: 10px; line-height: 18px; margin: 0;">
                            <P style="margin: 0;">Axis Bank</P>
                            <p style="margin: 0;">Rohini layout,</p>
                            <p style="margin: 0;">Hyderabad, Telangana</p>
                            <p style="margin: 0;">500001</p>

                        </div>
                    </div>
                </section>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-8" style="display: flex; flex-direction: column; font-size: 16px;">
                    <div style="display: flex;">
                        <p style="font-weight: 500; padding-left: 16px;  margin-top: 20px ">
                            Domain:
                        </p>

                        <div class="text_box">axis.bank.in</div>
                    </div>

                    <div style="display: flex;">
                        <p style="font-weight: 500; padding-left: 16px; font-size: 16px; margin-top: 20px">
                            Duration:
                        </p>
                        <div class="text_box">2 Years</div>

                    </div>
                </div>
                <div class="col-sm-2" style="margin-top: 20px; font-weight: 500; font-size: 16px;">
                    <p style="padding-left: 50px;">Amount Per Year</p>
                    <div class="text_box">10,000</div>


                    <p style="margin-top: 30px; padding-left: 50px;">GST &#64; 18%</p>


                    <p style="margin-top: 30px; padding-left: 50px;">Grand Total</p>


                </div>
                <div class="col-sm-2" style="margin-top: 20px; font-weight: 500; font-size: 16px;">
                    <p style="padding-left: 50px;">Total Amount</p>
                    <div class="text_box">20,000</div>

                    <div class="text_box" style="margin-top: 30px;">5,000</div>

                    <div class="text_box">25,000</div>



                </div>






            </div>

        </div>
    </div>
</div>
