<div class="layout-container">
    <app-side-menu></app-side-menu>
    <div class="content-area">
        <app-main-header></app-main-header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content-wrapper">
                        <div class="header-content">

                            <svg (click)="cancelDomain()" style="cursor: pointer;" width="24" height="25"
                                viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19 12.5H5" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M12 19.5L5 12.5L12 5.5" stroke="black" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            <h3 style="font-family: Roboto; font-size: 24px;">Domain Applications Details</h3>
                        </div>
                        <div class="details-container">
                            <div class="detail-item">
                                <p style="font-family: Roboto; font-size: 20px;">Application No</p>
                                <div class="box-content">{{domainsList?.applicationId}}</div>
                            </div>
                            <div class="detail-item">
                                <p style="font-family: Roboto; font-size: 20px;">Application Status</p>
                                <div class="box-content">{{domainsList?.status}}</div>
                            </div>
                            <div class="detail-item">
                                <p style="font-family: Roboto; font-size: 20px;">Organization Name</p>
                                <div class="box-content">{{domainsList?.organizationName}}</div>
                            </div>
                            <div class="detail-item">
                                <p style="font-family: Roboto; font-size: 20px;">Domain Name</p>
                                <div class="box-content">{{domainsList.bankName}}{{domainsList.domainName}}</div>
                            </div>
                            <div class="detail-item">
                                <p style="font-family: Roboto; font-size: 20px;">Submission Date</p>

                                <div class="box-content">{{domainsList?.submissionDate|date:'MMM d, y, h:mm a'}}</div>
                            </div>
                           
                        </div> 
                        <div style="margin-left: 80px;margin-bottom: 20px;" class="row">
                            <div class="main col-6 pe-3">
                                <div class="card card-equal-height">
                                    <h4 style="font-family: Roboto; font-size: 20px; color:#000000"> Organization Details</h4>
                                    <div class="first">
                                        <h5 style="font-size: 16px; color:#000000">Institution Name </h5>
                                        <div class="input-group">
                                            <input type="text" disabled="role === 'IDRBTADMIN'"
                                                placeholder="Enter your Institute Name" class="form-control"
                                                [(ngModel)]="organizationsList.institutionName" />
                                            <div *ngFor="let organization of organizationsList">
                                                <p>{{ organization?.institutionName }}</p>
                                            </div>
                                        </div>
                                        <h5 style="font-size: 16px; color:#000000">Pin Code</h5>
                                        <div class="pin-page">
                                            <input type="text" class="form-control" placeholder="Enter a pin code"
                                                [(ngModel)]="organizationsList.pincode" />
                                            <input type="text" class="form-control" placeholder="Enter a City"
                                                [(ngModel)]="organizationsList.city" />
                                            <input type="text" class="form-control" placeholder="Enter a state"
                                                [(ngModel)]="organizationsList.state" />
                                            <div *ngFor="let organization of organizationsList">
                                                <p>{{ organization.pincode }}</p>
                                                <p>{{ organization.city }}</p>
                                                <p>{{ organization.state }}</p>
                                            </div>
                                        </div>
                                        <h5 style="font-size: 16px; color:#000000">Address</h5>
                                        <div class="input-group">
                                            <input type="text" placeholder="Enter your Address 1" class="form-control"
                                                [(ngModel)]="organizationsList.address" />
                                            <div *ngFor="let organization of organizationsList">
                                                <p>{{ organization.address }}</p>
                                            </div>
                                        </div>
                                        <h5 style="font-size: 16px; color:#000000">Email ID</h5>
                                        <div>
                                            <input disabled type="email" placeholder="Enter your Email id" class="form-control"
                                                [(ngModel)]="organizationsList.userMailId" />
                                            <div *ngFor="let organization of organizationsList">
                                                <p>{{ organization.userMailId }}</p>
                                            </div>
                                        </div>
                                      
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 style="font-size: 16px; color:#000000">Payment Receipt</h5>
                                                <div style="position: relative;">
                                        
                                                    <!-- Input box bound to the fileName variable -->
                                                    <input type="text" class="form-control" [value]="fileName" 
                                                        placeholder="Upload your payment document" 
                                                        style="padding-right: 30px; padding-left: 10px;" readonly />
                                        
                                                    <!-- Modal trigger button to upload file -->
                                                    <span [ngClass]="domainsList.paymentStatus!='Paid'?'disableUploadPayment':''" class="input-group-text" data-toggle="modal" 
                                                        data-target="#exampleModalCenter" 
                                                        style="background-color: transparent; color:black; border: none; cursor: pointer; position: absolute; right: 10px; top: 55%; transform: translateY(-50%);">
                                                        <i class="bi bi-upload"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        
                                            <!-- File input hidden inside the modal (to handle file upload) -->
                                            <input type="file" id="fileInput" style="display: none;" 
                                                (change)="onFileSelected($event)" />
                                       
                                       
                                            <!-- <div class="col-6">
                                                <h5 style="font-size: 16px; color:#000000">Payment Status</h5>
                                                <div>
                                                    <select class="form-control" [(ngModel)]="domainsList.paymentStatus"
                                                        disabled="true" (ngModelChange)="onPaymentStatusChange()">
                                                        <option value="" disabled selected>Select Status</option>
                                                        <option value="Paid">Paid</option>
                                                        <option value="Unpaid">Unpaid</option>
                                                        <option value="Initiated">Initiated</option>
                                                        <option value="Ready for payment">Ready For Payment</option>
                                                    </select>
                                                </div>
                                            </div> -->
        
                                            <div class="col-6">
                                                <h5 style="font-size: 16px; color:#000000">NS Status</h5>
                                                <select  class="form-control" [(ngModel)]="domainsList.nsRecordStatus"
                                                    disabled="true">
                                                    <option value="" disabled selected>Select Status</option>
                                                    <option value="OnHold">OnHold</option>
                                                    <option value="Inprogress">Inprogress</option>
                                                    <option value="Approved">Approved</option>
                                                    <option value="Rejected">Rejected</option>
                                                </select>
                                            </div>
        
                                                <div class="col-6">
                                                    <h5 style="font-size: 16px; color:#000000">Domain Status</h5>
                                                    <div>
                                                        <select class="form-control" [(ngModel)]="domainsList.status"
                                                            disabled="true">
                                                            <option value="" disabled selected>Select Status</option>
                                                            <option *ngFor="let status of status" [value]="status">{{ status }}
                                                            </option>
                                                            <option value="Active">Active</option>
                                                            <option value="InActive">InActive</option>
                                                        </select>
                                                    </div>
                                                </div>
        
        
        
        
                                            </div>
        
        
                                            <div class="button-group">
                                                <button type="button" (click)="updateDomain()">Submit</button>
                                                <button type="button" (click)="cancelDomain()">Cancel</button>
                                            </div>
                                        </div>
                                </div>
                                </div>
                                    <div class="main col-6 pe-3">
                                        <div class="card card-equal-height">
                                            <div class="card">
                                                <h4 style="font-family: Roboto; font-size: 20px; color:#000000"> Organization Documents</h4>
            
                                            GSTIN
                                                <div class="card" style="margin-bottom: 10px;padding: 10px;">
                                                    <div style="display:flex;justify-content: space-between;">
                                                        <div style="text-align: center;">
                                                            <svg width="16" height="16" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M20.3749 5.58929C20.6249 5.83929 20.8392 6.17857 21.0178 6.60714C21.1964 7.03571 21.2857 7.42857 21.2857 7.78571V23.2143C21.2857 23.5714 21.1607 23.875 20.9107 24.125C20.6607 24.375 20.3571 24.5 19.9999 24.5H1.99995C1.6428 24.5 1.33923 24.375 1.08923 24.125C0.839233 23.875 0.714233 23.5714 0.714233 23.2143V1.78571C0.714233 1.42857 0.839233 1.125 1.08923 0.875C1.33923 0.625 1.6428 0.5 1.99995 0.5H13.9999C14.3571 0.5 14.7499 0.589286 15.1785 0.767857C15.6071 0.946429 15.9464 1.16071 16.1964 1.41071L20.3749 5.58929ZM14.4285 2.32143V7.35714H19.4642C19.3749 7.09821 19.2767 6.91518 19.1696 6.80804L14.9776 2.61607C14.8705 2.50893 14.6874 2.41071 14.4285 2.32143ZM19.5714 22.7857V9.07143H13.9999C13.6428 9.07143 13.3392 8.94643 13.0892 8.69643C12.8392 8.44643 12.7142 8.14286 12.7142 7.78571V2.21429H2.42852V22.7857H19.5714Z" fill="#747474"/>
                                                            </svg>
                                                            <div *ngIf="orgGstStatus === 'Rejected'" (click)="reuploadOrgDocs('GST')" class="tooltip-container" style="cursor: pointer;color: #007CF8;text-decoration: underline;" onmouseover="showTooltip()" onmouseout="hideTooltip()">GSTIN
                                                                <div class="tooltip" id="myTooltip" >Click to reupload the document</div>
                                                              </div>
                                                           <span *ngIf="orgGstStatus != 'Rejected'" (click)="viewDocuments('GSTIN')"  class="ClickDisplayDoc" >GSTIN</span>
                                                        </div>
                                                        <div class="status" [ngClass]="{
                                                            'rejected': orgGstStatus === 'Rejected',
                                                            'approved': orgGstStatus === 'Approved',
                                                            'notReviewed': orgGstStatus === 'Not Reviewed'||orgGstStatus === null
                                                          }">
                                                          {{orgGstStatus?orgGstStatus:'Not Reviewed'}}
                                                        </div>
                                                       
                                                    </div>
                                                   
                                                        
                                                </div>
                                            PAN
                                                <div class="card" style="margin-bottom: 10px;padding: 10px;">
                                                    <div style="display:flex;justify-content: space-between;">
                                                        <div>
                                                            <svg width="16" height="16" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M20.3749 5.58929C20.6249 5.83929 20.8392 6.17857 21.0178 6.60714C21.1964 7.03571 21.2857 7.42857 21.2857 7.78571V23.2143C21.2857 23.5714 21.1607 23.875 20.9107 24.125C20.6607 24.375 20.3571 24.5 19.9999 24.5H1.99995C1.6428 24.5 1.33923 24.375 1.08923 24.125C0.839233 23.875 0.714233 23.5714 0.714233 23.2143V1.78571C0.714233 1.42857 0.839233 1.125 1.08923 0.875C1.33923 0.625 1.6428 0.5 1.99995 0.5H13.9999C14.3571 0.5 14.7499 0.589286 15.1785 0.767857C15.6071 0.946429 15.9464 1.16071 16.1964 1.41071L20.3749 5.58929ZM14.4285 2.32143V7.35714H19.4642C19.3749 7.09821 19.2767 6.91518 19.1696 6.80804L14.9776 2.61607C14.8705 2.50893 14.6874 2.41071 14.4285 2.32143ZM19.5714 22.7857V9.07143H13.9999C13.6428 9.07143 13.3392 8.94643 13.0892 8.69643C12.8392 8.44643 12.7142 8.14286 12.7142 7.78571V2.21429H2.42852V22.7857H19.5714Z" fill="#747474"/>
                                                            </svg>
                                                            <div *ngIf="orgPanStatus === 'Rejected'" (click)="reuploadOrgDocs('PAN')" class="tooltip-container" style="cursor: pointer;color: #007CF8;text-decoration: underline;" onmouseover="showTooltip()" onmouseout="hideTooltip()">PAN
                                                                <div class="tooltip" id="myTooltip" >Click to reupload the document</div>
                                                              </div>
                                                           <span *ngIf="orgPanStatus != 'Rejected'" (click)="viewDocuments('PAN')" class="ClickDisplayDoc" >PAN</span>
                                                        </div>
                                                         <div class="status" [ngClass]="{
                                                            'rejected': orgPanStatus === 'Rejected',
                                                            'approved': orgPanStatus === 'Approved',
                                                            'notReviewed': orgPanStatus === 'Not Reviewed'||orgPanStatus === null
                                                          }">
                                                           {{orgPanStatus?orgPanStatus:'Not Reviewed'}}
                                                        </div>
                                                       
                                                    </div>
                                                   
                                                        
                                                </div>
                                                Licence Number
                                                <div class="card" style="margin-bottom: 10px;padding: 10px;">
                                                    <div style="display:flex;justify-content: space-between;">
                                                        <div>
                                                            <svg width="16" height="16" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M20.3749 5.58929C20.6249 5.83929 20.8392 6.17857 21.0178 6.60714C21.1964 7.03571 21.2857 7.42857 21.2857 7.78571V23.2143C21.2857 23.5714 21.1607 23.875 20.9107 24.125C20.6607 24.375 20.3571 24.5 19.9999 24.5H1.99995C1.6428 24.5 1.33923 24.375 1.08923 24.125C0.839233 23.875 0.714233 23.5714 0.714233 23.2143V1.78571C0.714233 1.42857 0.839233 1.125 1.08923 0.875C1.33923 0.625 1.6428 0.5 1.99995 0.5H13.9999C14.3571 0.5 14.7499 0.589286 15.1785 0.767857C15.6071 0.946429 15.9464 1.16071 16.1964 1.41071L20.3749 5.58929ZM14.4285 2.32143V7.35714H19.4642C19.3749 7.09821 19.2767 6.91518 19.1696 6.80804L14.9776 2.61607C14.8705 2.50893 14.6874 2.41071 14.4285 2.32143ZM19.5714 22.7857V9.07143H13.9999C13.6428 9.07143 13.3392 8.94643 13.0892 8.69643C12.8392 8.44643 12.7142 8.14286 12.7142 7.78571V2.21429H2.42852V22.7857H19.5714Z" fill="#747474"/>
                                                            </svg>
                                                            <div *ngIf="orgLicenceStatus === 'Rejected'" (click)="reuploadOrgDocs('LICENCE')" class="tooltip-container" style="cursor: pointer;color: #007CF8;text-decoration: underline;" onmouseover="showTooltip()" onmouseout="hideTooltip()">Licence Number
                                                                <div class="tooltip" id="myTooltip" >Click to reupload the document</div>
                                                              </div>
                                                           <span *ngIf="orgLicenceStatus != 'Rejected'" (click)="viewDocuments('LICENCE')"  class="ClickDisplayDoc" >Licence Number</span>
                                                        
                                                        </div>
                                                        <div class="status" [ngClass]="{
                                                            'rejected': orgLicenceStatus === 'Rejected',
                                                            'approved': orgLicenceStatus === 'Approved',
                                                            'notReviewed': orgLicenceStatus === 'Not Reviewed'||orgLicenceStatus===null
                                                          }">
                                                           {{orgLicenceStatus?orgLicenceStatus:'Not Reviewed'}}
                                                        </div>
                                                       
                                                    </div>
                                                   
                                                        
                                                </div>
                                                Board Resolution
                                                <div class="card" style="margin-bottom: 10px;padding: 10px;">
                                                    <div style="display:flex;justify-content: space-between;">
                                                        <div>
                                                            <svg width="16" height="16" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M20.3749 5.58929C20.6249 5.83929 20.8392 6.17857 21.0178 6.60714C21.1964 7.03571 21.2857 7.42857 21.2857 7.78571V23.2143C21.2857 23.5714 21.1607 23.875 20.9107 24.125C20.6607 24.375 20.3571 24.5 19.9999 24.5H1.99995C1.6428 24.5 1.33923 24.375 1.08923 24.125C0.839233 23.875 0.714233 23.5714 0.714233 23.2143V1.78571C0.714233 1.42857 0.839233 1.125 1.08923 0.875C1.33923 0.625 1.6428 0.5 1.99995 0.5H13.9999C14.3571 0.5 14.7499 0.589286 15.1785 0.767857C15.6071 0.946429 15.9464 1.16071 16.1964 1.41071L20.3749 5.58929ZM14.4285 2.32143V7.35714H19.4642C19.3749 7.09821 19.2767 6.91518 19.1696 6.80804L14.9776 2.61607C14.8705 2.50893 14.6874 2.41071 14.4285 2.32143ZM19.5714 22.7857V9.07143H13.9999C13.6428 9.07143 13.3392 8.94643 13.0892 8.69643C12.8392 8.44643 12.7142 8.14286 12.7142 7.78571V2.21429H2.42852V22.7857H19.5714Z" fill="#747474"/>
                                                            </svg>
                                                            <div *ngIf="orgBoardStatus === 'Rejected'" (click)="reuploadOrgDocs('BOARD')" class="tooltip-container" style="cursor: pointer;color: red;text-decoration: underline;" onmouseover="showTooltip()" onmouseout="hideTooltip()">Board Resolution
                                                                <div class="tooltip" id="myTooltip" >Click to reupload the document</div>
                                                              </div>
                                                           <span *ngIf="orgBoardStatus != 'Rejected'"(click)="viewDocuments('BOARD')"  class="ClickDisplayDoc" >Board Resolution</span>
                                                    
                                                        </div>
                                                        <div class="status" [ngClass]="{
                                                            'rejected': orgBoardStatus === 'Rejected',
                                                            'approved': orgBoardStatus === 'Approved',
                                                            'notReviewed': orgBoardStatus === 'Not Reviewed'||orgBoardStatus === null
                                                          }">
                                                          {{orgBoardStatus?orgBoardStatus:'Not Reviewed'}}
                                                        </div>
                                                       
                                                    </div>
                                                   
                                                        
                                                </div>
                                            </div>
                                            <div class="card" style="margin-top: 20px;">
                                                <table>
                                                    <thead>
                                                      <tr>
                                                        <th>Officers</th>
                                                        <th>Status</th>
                                                        <!-- <th>Links</th> -->
                                                      </tr>
                                                    </thead>
                                                    <tr>
                                                      <td colspan="2">
                                                        <hr>
                                                      </td>
                                                    </tr>
                                                    <tbody id="officerTbody">
                                                      <tr style="padding-bottom: 20px;">
                                                        <td style="padding-bottom: 15px;">Administrative Officer</td>
                                                        <td   class="status" [ngClass]="{
                                                            'rejected': adminStatus === 'Rejected',
                                                            'approved': adminStatus === 'Approved',
                                                            'notReviewed': adminStatus === 'Not Reviewed'
                                                          }">{{adminStatus}}</td>
                                                        <!-- <td><p class="ClickDisplayDoc" (click)="navigateToRegistrantOfficersApprove()">View</p></td> -->
                                                      </tr>
                                                      <tr>
                                                        <td style="padding-bottom: 15px">Technical Officer</td>
                                                        <td   class="status" [ngClass]="{
                                                            'rejected': technicalOfficerStatus === 'Rejected',
                                                            'approved': technicalOfficerStatus === 'Approved',
                                                            'notReviewed': technicalOfficerStatus === 'Not Reviewed'
                                                          }">{{technicalOfficerStatus}}</td>
                                                        <!-- <td><p class="ClickDisplayDoc" (click)="navigateToRegistrantOfficersApprove()">View</p></td> -->
                                                      </tr>
                                                      <tr>
                                                        <td style="padding-bottom: 15px">Billing Officer</td>
                                                        <td   class="status" [ngClass]="{
                                                            'rejected': billingOfficerStatus === 'Rejected',
                                                            'approved': billingOfficerStatus === 'Approved',
                                                            'notReviewed': billingOfficerStatus === 'Not Reviewed'
                                                          }">{{billingOfficerStatus}}</td>
                                                        <!-- <td><p class="ClickDisplayDoc" (click)="navigateToRegistrantOfficersApprove()">View</p></td> -->
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                         
                        </div>
                    </div>

                </div>
            </div>

           
            <ng-template #paymentDialog>
                <h1 class="p-4">Upload Payment Receipt</h1>
                <mat-dialog-content class="d-flex flex-column align-items-center text-center">
                   
                    <label for="fileInput" class="btn btn-primary btn-lg">
                        Upload File
                        <input id="fileInput" type="file" (change)="onFileSelected($event)" style="display: none" />
                    </label>
                    <div *ngIf="selectedFileName" class="text-danger">
                        <span>{{ selectedFileName }}</span>
                    </div>
                </mat-dialog-content>
                <mat-dialog-actions class="justify-content-between pt-2 pb-4 pr-4 pl-4">
                    <button class="btn btn-secondary btn-sm" (click)="onDialogClose()">Cancel</button>
                    <button class="btn btn-primary btn-sm">Submit</button>
                </mat-dialog-actions>
            </ng-template>

            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                 

                        <div style="background: #F7F7F7; padding-top: 10px; padding-left: 10px;"
                            class="d-flex justify-content-between align-items-center;">
                            <h1>Payment Receipt</h1>


                            <i class="bi bi-x" style="font-size: 40px; cursor: pointer; color: #000;" (click)="cancelButton()"></i>

                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="text-center" style="padding-top: 30px; color: #000;">
                                <h1>Upload Your Payment Receipt</h1>
                                <p>To verify your payment status, add your payment receipt</p>
                            </div>
                        </div>


                        <div
                            style="border: 2px dashed #9A9A9A; border-radius: 5px; height: 300px; margin: 50px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                           
                            <svg width="72" height="72" style="margin-top: 20px;" viewBox="0 0 72 72" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M48 48L36 36L24 48" stroke="#9A9A9A" stroke-width="4" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M36 36V63" stroke="#9A9A9A" stroke-width="4" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path
                                    d="M61.1699 55.1704C64.0959 53.5753 66.4074 51.0511 67.7395 47.9963C69.0716 44.9415 69.3485 41.5301 68.5265 38.3005C67.7045 35.0709 65.8304 32.207 63.1999 30.1608C60.5694 28.1146 57.3325 27.0026 53.9999 27.0004H50.2199C49.3118 23.4882 47.6194 20.2274 45.2697 17.4634C42.9201 14.6994 39.9744 12.504 36.6542 11.0423C33.3339 9.58053 29.7255 8.89052 26.1002 9.02409C22.4749 9.15766 18.9271 10.1113 15.7234 11.8134C12.5197 13.5155 9.74362 15.9217 7.60375 18.8512C5.46388 21.7806 4.01595 25.157 3.36882 28.7266C2.72169 32.2962 2.8922 35.966 3.86752 39.4602C4.84285 42.9544 6.59761 46.182 8.99988 48.9004"
                                    stroke="#9A9A9A" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M48 48L36 36L24 48" stroke="#9A9A9A" stroke-width="4" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            <p style="padding-top: 20px;">Drag and drop your payment receipt</p>
                            <p style="padding-top: 10px;">Supported formats: PDF, DOC, JPEG</p>

<input type="file" #fileInput style="display: none;" (change)="onFileChange1($event)" />

<button class="Browse" (click)="fileInput.click()">Browse Files</button>

                            <div *ngIf="fileError" style="color: red; padding-top: 10px;">
                                {{ fileError }}
                            </div>
                        </div>

                        <div
                            style="display: flex; justify-content: flex-end; gap: 20px;  padding-right: 50px; margin-bottom: 10px;">
                            <button
                                style=" color: white; background-color: #007CF8; border-radius: 5px; border:2px solid #007CF8;"
                                (click)="uploadPaymentReceipt()">Upload</button>
                            <button
                                style=" color: #999999; background-color: white; border-radius: 5px; border: 2px solid #999999;"
                                id="closePaymentReceipt" class="close" data-dismiss="modal"
                                (click)="closedButton()">Cancel</button>
                        </div>

                    </div>
                </div>
            </div>



  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div style="background: #F7F7F7; padding-top: 10px; padding-left: 10px;" class="d-flex justify-content-between align-items-center;">
          <h1>Payment Receipt</h1>
         
          <i class="bi bi-x" style="font-size: 40px; cursor: pointer; color: #000;" (click)="closedButton()"></i>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div class="text-center" style="padding-top: 30px; color: #000;">
            <h1>Upload Your Payment Receipt</h1>
            <p>To verify your payment status, add your payment receipt</p>
          </div>
        </div>
        <div>
          <div class="card" style="border-radius: 5px; height: 300px; margin: 30px; display: flex; flex-direction: column; justify-content: center; align-items: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
           
            <div *ngIf="fileType === 'application/pdf'">
             
              <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M48 48L36 36L24 48" stroke="#9A9A9A" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M36 36V63" stroke="#9A9A9A" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
   
          
   
            <div *ngIf="fileType === 'image/jpeg' || fileType === 'image/png'">
           
              <svg width="72" height="72" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="36" cy="36" r="32" stroke="#9A9A9A" stroke-width="4" />
                <path d="M28 28L36 38L44 28H28Z" stroke="#9A9A9A" stroke-width="4" />
              </svg>
            </div>
   
           
            <p *ngIf="fileName" style="color: red;">
             
              <span  (click)="previewDocument()"
               style="color: red; text-decoration: underline; cursor: pointer;">{{ fileName }}</span>
            </p>
            <input type="file" #fileInput style="display: none;"  (change)="onFileChange($event, 'update')" />
            <p *ngIf="fileError" style="color: red;">{{ fileError }}</p>
            <p style="padding-top: 20px;">Click the file name above to preview your uploaded document</p>
            <hr style="width: 80%; border: 2px solid #9A9A9A; margin: 10px 0;" />
            <p style="padding-top: 10px; padding-left: 15px;">If the uploaded document is not correct, click below to upload again</p>
   
            <button class="Browse" (click)="fileInput.click()" style="margin-top: 10px;">Browse Files</button>
   
          </div>
   
       
          <div style="display: flex; justify-content: flex-end; gap: 20px; padding-right: 50px; margin-bottom: 10px;">
           
            <button style="color: white; background-color: #007CF8; border-radius: 5px; border:2px solid #007CF8;" (click)="updatePaymentReceipt()">update</button>
           
            <button id="closePaymentReceipt1" style="color: #999999; background-color: white; border-radius: 5px; border: 2px solid #999999;" (click)="updatecancelButton()">Cancel</button>
          </div>
   
        </div>
      </div>
    </div>
  </div>

  
  <div data-toggle="modal" class="modal fade" data-target="#updateModal" id="viewPaymentReceipt" tabindex="-1" role="dialog" aria-labelledby="xlModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title" id="xlModalLabel" style="font-size: 20px;">View Document</h5>
                <button  class="close" (click)="popUPButtonClose()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"  style="background-color: none; color: black;font-size: 20px; padding: 5px; padding-top: 0px;"
                        >&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <div  class="image-Container" *ngIf="tempimageUrl">
                <img [src]="tempimageUrl"  alt="Image Preview" width="400px" height="300px">
              </div>
             
              <div *ngIf="temppdfUrl">
                <iframe [src]="temppdfUrl" width="100%" height="500px"></iframe>
              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" role="alert">
               
            </div>
        </div>
    </div>
  </div>
<div hidden data-toggle="modal" class="modal fade" id="reuploadModel" data-target="#reuploadModal"></div>
  <div class="modal" id="reuploadModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: rgba(237, 236, 252, 1);padding-bottom:0px">
          <h5 class="modal-title">{{docName}} Document</h5>
          <!-- <button type="button" > -->
            <span aria-hidden="true" id="closeUploadModal" class="close" data-dismiss="modal" aria-label="Close">&times;</span>
          <!-- </button> -->
        </div>
        <div class="modal-body">
            <div >
                <div style="margin-bottom: 20px;">
                   
                    <p> <span style="color:red;padding-right:3px">*</span>Your document was rejected due to blurriness or an incorrect ID number. Please upload a clearer copy with the correct ID.</p>
                </div>
                <div class="modalcontainer">
                    <div class="row">
                        <div class="col-sm-7">
                            <input style="width: 100%;" *ngIf="docName!='BOARD'"(input)="handleOrganisationInputChange($event)" type="text" id="gst-input" [(ngModel)]="organisationInputValue" placeholder="Enter {{docName}} Number">
                            <span style="color:red">{{organisationInputFieldErrors}}</span>
                        </div>
                        <div class="col-sm-5">
                            <button style="width: 100%;" [disabled]="buttonDisabled" (click)="triggerFileInput()">Upload Document</button>
                            <input type="file" #filesInput id="file-upload" accept=".pdf, .jpg, .jpeg" (change)="handleFileInput($event)">
                        </div>

                    </div>
                   
                    
                </div>
                <!-- <div style="margin-top: 20px;">
                    <p *ngIf="docName==='PAN'" style="color: rgba(0, 124, 248, 1);text-decoration: underline;">PAN</p>
                    <p *ngIf="docName==='BOARD'" style="color: rgba(0, 124, 248, 1);text-decoration: underline;">Board Resolution</p>
                    <p *ngIf="docName==='GST'" style="color: rgba(0, 124, 248, 1);text-decoration: underline;">GSTIN</p>
                    <p *ngIf="docName==='LICENCE'" style="color: rgba(0, 124, 248, 1);text-decoration: underline;">LICENCE NUMBER</p>
                </div> -->
                
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="reUploadDocument(UploadedDocuments)" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" (click)="clearTheinpuErrors()" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div id="gstModal" hidden  data-toggle="modal"
  data-target="#viewTheOrgGstDocs"></div>
  <div id="panModal" hidden  data-toggle="modal"
  data-target="#viewTheOrgPanDocs"></div>
  <div id="licenceModal" hidden  data-toggle="modal"
  data-target="#viewTheOrgLicenceDocs"></div>
  <div id="boardModal" hidden  data-toggle="modal"
  data-target="#viewTheBoardDocs"></div>
  <div class="modal fade" id="viewTheOrgGstDocs" tabindex="-1" role="dialog" aria-labelledby="xlModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title" id="xlModalLabel" style="font-size: 20px;">View Document</h5>
                <button  class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"  style="background-color: none; color: black;font-size: 20px; padding: 5px; padding-top: 0px;"
                        >&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
             
              
              <div *ngIf="OrgGstDocImage==false">
                <iframe [src]="gstDocPdf" width="100%" height="500px"></iframe>
              </div>
              
                <div *ngIf="OrgGstDocImage==true" class="image-Container">
                    <img [src]="'data:image/png/jpg/jpeg;base64,'+gstDoc"  width="100%" height="100%">
                </div>
             
             
            </div>
            <!-- Modal footer -->
            <!-- <div class="modal-footer" role="alert">
               <button class="btn btn-primary" (click)="approveOrgDocs('GST')">Approve</button>
               <button class="btn btn-danger"(click)="rejectOrgDocs('GST')">Reject</button>
            </div> -->
        </div>
    </div>
  </div>
  <div class="modal fade" id="viewTheOrgLicenceDocs" tabindex="-1" role="dialog" aria-labelledby="xlModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title" id="xlModalLabel" style="font-size: 20px;">View Document</h5>
                <button  class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"  style="background-color: none; color: black;font-size: 20px; padding: 5px; padding-top: 0px;"
                        >&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
             
              
              <div *ngIf="OrgLicenceImage==false">
                <iframe [src]="licenceDocPdf" width="100%" height="500px"></iframe>
              </div>
            
                <div *ngIf="OrgLicenceImage==true" class="image-Container">
                    <img [src]="'data:image/png/jpg/jpeg;base64,'+licenseDoc"  width="100%" height="100%">
                </div>
          
             
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" role="alert">
               <!-- <button class="btn btn-primary" (click)="approveOrgDocs('LICENCE')">Approve</button>
               <button class="btn btn-danger"(click)="rejectOrgDocs('LICENCE')">Reject</button> -->
            </div>
        </div>
    </div>
  </div>

  <div class="modal fade" id="viewTheBoardDocs" tabindex="-1" role="dialog" aria-labelledby="xlModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title" id="xlModalLabel" style="font-size: 20px;">View Document</h5>
                <button  class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"  style="background-color: none; color: black;font-size: 20px; padding: 5px; padding-top: 0px;"
                        >&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
             
              
              <div *ngIf="BoardDocImage==false">
                <iframe [src]="boardResolutionDocPdf" width="100%" height="500px"></iframe>
              </div>
          
                <div  *ngIf="BoardDocImage==true" class="image-Container">
                    <img [src]="'data:image/png/jpg/jpeg;base64,'+boardResolutionDoc"  width="100%" height="100%">
                </div>
          
             
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" role="alert">
               <!-- <button class="btn btn-primary" (click)="approveOrgDocs('BOARD')">Approve</button>
               <button class="btn btn-danger"(click)="rejectOrgDocs('BOARD')">Reject</button> -->
            </div>
        </div>
    </div>
  </div>
  <div class="modal fade" id="viewTheOrgPanDocs" tabindex="-1" role="dialog" aria-labelledby="xlModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title" id="xlModalLabel" style="font-size: 20px;">View Document</h5>
                <button  class="close"  data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"  style="background-color: none; color: black;font-size: 20px; padding: 5px; padding-top: 0px;"
                        >&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
             
              
              <div *ngIf="OrgPanImage==false">
                <iframe [src]="panDocPdf" width="100%" height="500px"></iframe>
              </div>
             
                <div *ngIf="OrgPanImage==true" class="image-Container">
                    <img [src]="'data:image/png/jpg/jpeg;base64,'+panDoc"  width="100%" height="100%">
                </div>
             
             
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" role="alert">
               <!-- <button class="btn btn-primary" (click)="approveOrgDocs('PAN')">Approve</button>
               <button class="btn btn-danger"(click)="rejectOrgDocs('PAN')">Reject</button> -->
            </div>
        </div>
    </div>
  </div>
