
<div class="layout-container">
  <app-side-menu></app-side-menu>
  <div class="content-area">
    <app-main-header></app-main-header>
    <div class="container-fluid">
    <!-- Main Content (Stepper Section) -->
    <div class="row justify-content-center mt-5">
      <div class="col-md-8 mt-5">
        <div class="shadow p-3 mb-3 bg-body rounded">
          <div class="card" style="border: none;">
            <div class="card-body">
              <!-- Mat Stepper with Bootstrap classes -->
              <mat-horizontal-stepper #stepper [linear]="true" class="w-100" (selectionChange)="onStepChange($event)">
                <!-- Step 1: Organisation Details -->
                <ng-template matStepperIcon="edit">
                      <mat-icon>done</mat-icon>
                  </ng-template>

                <mat-step completed=false label="Organisation Details">
                  
                  <app-organisation-details (formSubmitted)="onFormSubmitted()"
                  (orgDocDetails)="SubmittedOrgDocs($event)" 
                  (organisationId)="getEmittedOrgIdFromChild($event)"></app-organisation-details>
                  <!-- <div>
                    <button mat-button matStepperNext>Next</button>
                  </div> -->
                </mat-step>
  
                <!-- Step 2: Contact Details -->
                <mat-step completed=false label="Contact Details">
                  <app-contact-details-form 
                  [organisationId] ="organisationId" 
                  (adminDocDetails)="SubmittedAdminDocs($event)" 
                  (techDocDetails)="submittedTechDocDetails($event)"
                  (billDocDetails)="submittedBillDocDetails($event)"
                  (formSubmitted)="onFormSubmitted()" 
                  (back)="goBack()"></app-contact-details-form>  <!-- Listen for form submission event -->
                  <!-- <span>
                    <button mat-button matStepperPrevious>Back</button>
                  </span> -->
                </mat-step>
  
                <!-- Step 3: Name Server Details -->
                <mat-step completed=false label="Name Server Details">
                  <app-name-server-form [domainId]="domainId"
                  [applicationId]="applicationId" 
                  (formSubmitted)="onFormSubmitted()" 
                  (back)="goBack()"></app-name-server-form>
                  <!-- <div>
                    <button mat-button matStepperNext>Next</button>
                  </div> -->
                </mat-step>
  
                <!-- Step 4: Review -->
                <mat-step completed=false label="Preview">
                  <app-preview 
                  [orgDocDetails]="orgDocDetails"
                  [adminDocDetails]="adminDocDetails"
                  [techDocDetails]="techDocDetails"
                  [billDocDetails]="billDocDetails"
                  [organisationId]="organisationId"
                  [domainId]="domainId"></app-preview>
                  <!-- <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div> -->
                </mat-step>
  
                <!-- Step 5: Submit -->
                <mat-step completed=false label="Submit">
                  <p>Submit the form.</p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button>Submit</button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="xlModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header" id="modalHeader">
              <h5 class="modal-title" id="xlModalLabel">view Document</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true" style="color:red; padding: 5px; padding-top: 0px;"
                      >&times;</span>
              </button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div  class="image-Container">
              <!-- <img [src]="imagUrl" *ngIf="imagUrl" alt="Image Preview" width="400px" height="300px"> -->
            </div>
            
            <!-- <div *ngIf="pdfUrl">
              <iframe [src]="pdfUrl" width="100%" height="500px"></iframe>
            </div> -->
          </div>
          <!-- Modal footer -->
          <div class="modal-footer" role="alert">
             
          </div>
      </div>
  </div>
</div>