.example-container {
   
    width: 100%;
    max-width: 100%;
    overflow: auto;
    height: auto;
    
 
  }

  table tr th{
    background-color: #ECF4FC;
  }

  .layout-container {
    display: flex;
    height: 100vh; /* Full-height layout */
  }
  
  app-side-menu {
    flex: 0 0 250px; /* Fixed width for the sidebar */
    max-width: 90px;
    min-width: 90px;
    background-color: #f8f9fa; /* Example background color */
  }
  
  .content-area {
    flex: 1; /* Fills the remaining space */
    padding: 0;
    overflow-y: auto; /* Handles scrolling for content */
  }


  table tr th{
    font-size: 13px;
  }

  table tr td{
    font-size: 13px;
  }
  

  .date {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.input-group input {
    flex: 1;  
    padding-right: 35px;
}

.input-group svg {
    position: absolute;
    right: 10px;  
    pointer-events: none; 
}

h3 {
    margin-bottom: 5px;
}

  .input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
   
  }
 
  
  .input-group svg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  table#table1 tr:nth-child(even) {
    background: #FFFFFF;

  }
  
  table#table1 tr:nth-child(odd) {
    background: #F7F7F7;

  }