.example-container {
    /* height: 400px; */
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }

  table tr th{
    background-color: #ECF4FC;
  }

  .layout-container {
    display: flex;
    height: 100vh; /* Full-height layout */
   
  }
  
  app-side-menu {
    flex: 0 0 250px; /* Fixed width for the sidebar */
    max-width: 90px;
    min-width: 90px;
    background-color: #f8f9fa; /* Example background color */
  }
  
  .content-area {
    flex: 1; /* Fills the remaining space */
    padding: 0;
    overflow-y: auto; /* Handles scrolling for content */
  }

.required{
  color: red;
}
  table tr th{
    font-size: 13px;
  }

  table tr td{
    font-size: 13px;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 2px;
    padding-bottom: 3px;
}

  /* mat-slide-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .modal-body{
    font-size: 13px;
  }

  input::placeholder {
    font-size: 12px;
    color: gray; 
  }

  .button-svg-container {
    display: flex;
    align-items: center;
    gap: 30px; 
  }
  h3 {
    margin: 0;
  }
  
  button {
    margin: 0;
  }
  table#table1 tr:nth-child(even) {
   
    background: #F7F7F7;

  }
  
  table#table1 tr:nth-child(odd) {
    background: #FFFFFF;

  }