<div class="layout-container">
    <div class="content-area">
        <app-header></app-header>

        <div id="forgot-password">
            <h1 id="title" class="text-center" style="color: #353167; font-size: 35px;
            font-weight: 600; gap: 12px;">Forgot Password</h1>

            <div style="font-weight: 400; font-size: 12px; text-align: center; color: #000000;">
                Enter the OTP sent to your registered email ID
            </div>


            <div id="email" style="margin-top: 15px;">

                <div style="font-weight: 500; font-size: 16px;">OTP</div>
                <div class="input-group" style="margin-top: 12px;">

                    <input type="email" [(ngModel)]="otp"
                     style="padding-left: 15px;" placeholder="Enter OTP" class="form-control" />

                </div>



                <div>
                    <button class="form-control btn" type="button" style="margin-top: 20px;"
                    (click)="verifyOtp()">Verify</button>
                    <div style="display: flex; font-weight: 400; font-size: 14px;
                      gap: 165px; padding-top: 0px;">

                        <div style="color: #666666;">Enter the OTP sent to your registered email id.</div>

                        <div style="color: #666666; cursor: pointer;" 
                         (click)="verifyOtp()">Resend OTP</div>



                    </div>
                </div>


                <div style="color: #666666; font-weight: 400; font-size: 14px; padding-left: 100px;
                margin-top: 10px;">After verify the OTP you will able to reset your password.</div>







            </div>
        </div>
    </div>
</div>