
<div class="container mt-5 d-flex justify-content-center align-items-center">
  <div class="card card-custom ">
    <div class="text-center">
      <h1 style="font-weight:500;" class="text-center">Certification of Authorized Officer through DSC</h1>
    </div>

    <div class="card-body">
      <form #form="ngForm">
        <p class="passage-text">
          I
          <input
            type="text"
            class="form-control inline-field rounded-input"
            [(ngModel)]="formData.name"
            name="name"
            placeholder="Name"
            style="width: 300px"
            required
          />
          son/daughter of
          <input
            type="text"
            class="form-control inline-field rounded-input"
            [(ngModel)]="formData.fatherName"
            name="fatherName"
            placeholder="Father's Name"
            style="width: 300px"
            required
          />
          aged
          <input
            type="text"
            class="form-control inline-field small-field rounded-input"
            [(ngModel)]="formData.age"
            name="age"
            placeholder="Age"
            (input)="onAgeInput($event)"
          [class.is-invalid]="ageError" 
            required
          />
          years, hereby undertake that I am working with
          <input
            type="text"
            class="form-control inline-field rounded-input"
            [(ngModel)]="formData.organisationName"
            name="organisationName"
            placeholder="Organisation's Name"
            style="width: 300px"
            required
          />
          as
          <input
            type="text"
            class="form-control inline-field rounded-input"
            [(ngModel)]="formData.designation"
            name="designation"
            placeholder="Designation"
            style="width: 300px"
            required
          />
          and I am authorized to sign the legal documents on behalf of
          <input
            type="text"
            class="form-control inline-field rounded-input"
            [(ngModel)]="formData.authOrganisationName"
            name="authOrganisationName"
            placeholder="Authorised Organisation's Name"
            style="width: 300px"
            required
          />
          .
        </p>

        <div class="form-check mb-3" style="margin-top: 10px;">
          <input
            class="form-check-input"
            type="checkbox"
            id="agree"
            [(ngModel)]="formData.agree"
            name="agree"
            required
          />
          <label class="form-check-label" for="agree">
            I agree to the terms and conditions
          </label>
        </div>

        <div *ngIf="validationError" class="text-danger mb-3">
          {{ validationError }}
        </div>
        <div *ngIf="ageError" class="text-danger">
          Please enter a valid age below 150.
        </div>

        <div class="text-center">
          <button
            type="button"
            class="btn btn-primary"
            (click)="affixDSC()"
            
          >
            Affix DSC
          </button>
          <!-- Loading Spinner -->
        <div *ngIf="isLoading" class="spinner-container">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Password Modal -->
  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    [ngClass]="{ show: isPasswordModalOpen }"
    style="display: block"
    *ngIf="isPasswordModalOpen"
  >
    <div class="modal-dialog" role="document" style="max-width:550px; width:100%">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Sign Using DSC</h1>

          <button type="button" class="btn-close" (click)="closePasswordModal()"></button>

        </div>

        <div class="modal-body">

          <div *ngIf="tokens.length >= 0" style="margin-bottom: 20px; margin-top: 10px;">
            <label for="tokenSelect">Select DSC Token</label><span class="text-danger">*</span>
            <select id="tokenSelect" class="form-control" [(ngModel)]="selectedToken" (change)="onTokenSelect()">
              <option value="" disabled selected>Select Token</option>
              <option *ngFor="let token of tokens" [ngValue]="token">
                {{ token }}
              </option>
            </select>
          </div>
          <div *ngIf="certificates.length >= 0"style=" margin-bottom: 20px;">
            <label for="certificateSelect">Select Certificate</label><span class="text-danger">*</span>
            <select
              id="certificateSelect"
              class="form-control"
              [(ngModel)]="selectedCertificate"
            >
              <option value="" disabled selected>Select Certificate</option>
              <option *ngFor="let certificate of certificates" [ngValue]="certificate">
                {{ certificate.commonName }} - {{ certificate.validTill }}
              </option>
            </select>
          </div>

          <div style=" margin-bottom: 20px;">
            <label for="dataTypeSelect">Data Type</label><span class="text-danger">*</span>
            <select id="dataTypeSelect" class="form-control" [(ngModel)]="selectedDataType">
              <option value="" disabled>Select Data Type</option>
              <option *ngFor="let type of dataTypes" [ngValue]="type">
                {{ type }}
              </option>
            </select>
          </div>

          <label for="passwordInput" class="form-label">Token Pin</label><span class="text-danger">*</span>
          <input
            id="passwordInput"
            type="password"
            class="form-control rounded-input"
            placeholder="Enter token pin"
            [(ngModel)]="tokenPassword"
            style="width:100%; margin-bottom: 10px"
          />
          <div *ngIf="passwordErrorMessage" class="text-danger mt-2">
            {{ passwordErrorMessage }}
          </div>
        </div>

        <div style="display:flex; justify-content: flex-end; margin: 20px; margin-bottom: 15px;">
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closePasswordModal()"
            style="margin-left: 10px"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Certificate Details -->
  <!-- <div *ngIf="certificate">
    <h5>Certificate Details:</h5>
    <p><strong>Subject:</strong> {{ certificate.subject }}</p>
    <p><strong>Issuer:</strong> {{ certificate.issuer }}</p>
    <p><strong>Valid From:</strong> {{ certificate.validFrom }}</p>
    <p><strong>Valid To:</strong> {{ certificate.validTo }}</p>
  </div> -->
</div>

  