<div class="name container ld mt-5">
    <div class="col-md justify-content-center mt-5">
        <!-- Loop through the cards array and display each card -->
        <div *ngFor="let card of cards  " class="col-ld mt-5">
            <div class="card ">
                <div class="card-body">
                    <h2 class="card-title">{{ card.heading }}</h2>
                    <!-- Display details if not in editing mode -->
                    <div *ngIf="!card.details.isEditing">
                        <!-- Domain Applying For Card -->
                        <div *ngIf="card.heading === 'Domain Applying For'">
                            <p><strong>Bank Name:</strong>
                                {{ card.details.bankName }}</p>
                            <p><strong>Domain Name:</strong>
                                {{ card.details.domainName }}</p>
                            <p><strong>Term:</strong>
                                {{ card.details.numberOfYears }}</p>
                            <p><strong>Cost:</strong>
                                {{ card.details.cost }}</p>
                        </div>
                        <!-- Organisation Details Card -->
                        <div *ngIf="card.heading === 'Organisation Details'">
                            <p><strong>Institution Name:</strong>
                                {{ card.details.institutionName }}</p>
                            <p><strong>Pincode:</strong>
                                {{ card.details.pincode }}</p>
                            <p><strong>City:</strong>
                                {{ card.details.city }}</p>
                            <p><strong>State:</strong>
                                {{ card.details.state }}</p>
                            <p><strong>Address:</strong>
                                {{ card.details.address }}</p>
                            <p><strong>STD Telephone:</strong>
                                {{ card.details.stdTelephone }}</p>
                            <p><strong>Mobile No:</strong>
                               +91 {{ card.details.mobileNumber}}</p>
                            <p><strong>Organisation Email:</strong>
                                {{ card.details.organisationEmail }}</p>
                            <div *ngIf="orgDocDetails?.length > 0" style="margin-top: 20px;">
                                <div style="display: flex; gap: 10px; flex-wrap: wrap; font-size: 0.85rem;">
                                    <div *ngFor="let doc of orgDocDetails; let i = index"
                                        style="display: flex; align-items: center; gap: 5px;">
                                        <i class="bi bi-check-circle text-success"></i>
                                        {{ doc.type }} - {{ doc.fileName }} - {{ doc.value }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Administrative Contact Card -->
                        <div *ngIf="card.heading === 'Administrative Contact'">
                            <p><strong>Full Name:</strong>
                                {{ card.details.adminFullName }}</p>
                            <p><strong>Email:</strong>
                                {{ card.details.adminEmail }}</p>
                            <p><strong>Phone:</strong>
                               +91 {{ card.details.adminPhone }}</p>
                            <p><strong>Alternative Phone:</strong>
                               +91 {{ card.details.adminAltPhone }}</p>
                            <p><strong>Designation:</strong>
                                {{ card.details.adminDesignation }}</p>
                            <p><strong>Address:</strong>
                                {{ card.details.adminAddress }}</p>
                            <p><strong>Documents:</strong>
                                {{ card.details.adminDocuments }}</p>
                            <div *ngIf="adminDocDetails?.length > 0" style="margin-top: 20px;">
                                <div style="display: flex; gap: 10px; flex-wrap: wrap; font-size: 0.85rem;">
                                    <div *ngFor="let doc of adminDocDetails; let i = index"
                                        style="display: flex; align-items: center; gap: 5px;">
                                        <i class="bi bi-check-circle text-success"></i>
                                        {{ doc.type }} - {{ doc.fileName }} - {{ doc.value }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Technical Contact Card -->
                        <div *ngIf="card.heading === 'Technical Contact'">
                            <p><strong>FullName:</strong>
                                {{ card.details.techFullName }}</p>
                            <p><strong>Email:</strong>
                                {{ card.details.techEmail }}</p>
                            <p><strong>Phone:</strong>
                              +91 {{ card.details.techPhone }}</p>
                            <p><strong>Alternative Phone:</strong>
                               +91 {{ card.details.techAltPhone }}</p>
                            <p><strong>Designation:</strong>
                                {{ card.details.techDesignation }}</p>
                             <p><strong>Address:</strong>
                                {{ card.details.techAddress }}</p>
                            <p><strong>Documents:</strong>
                                {{ card.details.techDocuments }}</p>
                            <div *ngIf="techDocDetails?.length > 0" style="margin-top: 20px;">
                                <div style="display: flex; gap: 10px; flex-wrap: wrap; font-size: 0.85rem;">
                                    <div *ngFor="let doc of techDocDetails; let i = index"
                                        style="display: flex; align-items: center; gap: 5px;">
                                        <i class="bi bi-check-circle text-success"></i>
                                        {{ doc.type }} - {{ doc.fileName }} - {{ doc.value }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Billing Contact Card -->
                        <div *ngIf="card.heading === 'Billing Contact'">
                            <p><strong>Full Name:</strong>
                                {{ card.details.billFullName }}</p>
                            <p><strong>Email:</strong>
                                {{ card.details.billEmail }}</p>
                            <p><strong>Phone:</strong>
                              +91  {{ card.details.billPhone }}</p>
                            <p><strong>Alternative Phone:</strong>
                               +91 {{ card.details.billAltPhone }}</p>
                            <p><strong>Designation:</strong>
                                {{ card.details.billDesignation }}</p>
                            <p><strong>Address:</strong>
                                 {{ card.details.billAddress }}</p>
                            <p><strong>Documents:</strong>
                            </p>
                            <div *ngIf="billDocDetails?.length > 0" style="margin-top: 20px;">
                                <div style="display: flex; gap: 10px; flex-wrap: wrap; font-size: 0.85rem;">
                                    <div *ngFor="let doc of billDocDetails; let i = index"
                                        style="display: flex; align-items: center; gap: 5px;">
                                        <i class="bi bi-check-circle text-success"></i>
                                        {{ doc.type }} - {{ doc.fileName }} - {{ doc.value }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Name Server Details Card -->
                        <div *ngIf="card.heading === 'Name Server Details'">
                            <div *ngFor="let nameServer of nameDetails; let i = index">
                                <p><strong>Name Server {{ i + 1 }} Host Name:</strong> {{ nameServer.hostName }}</p>
                                <p><strong>Name Server {{ i + 1 }} IP Address:</strong> {{ nameServer.ipAddress }}</p>
                                <hr />
                            </div>
                        </div>
                        <button *ngIf="!card.details.isEditing" class="btn btn-primary mt-3"
                          [disabled]="hideEditButton"  (click)="toggleEdit(card)">Edit</button>
                    </div>
                    <!-- Editable fields (shown only when isEditing is true) -->
                    <div *ngIf="card.details.isEditing">
                        <!-- Domain Applying For Card (Edit) -->
                        <div *ngIf="card.heading === 'Domain Applying For'">
                            <div class="form-group">
                                <label for="bankName">Bank Name:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="bankName" [disabled]="isDisabled"  (keypress)="preventSpecialChars($event)"
                                    [(ngModel)]="card.details.bankName">
                            </div>
                           
                            <div class="form-group">
                                <label for="domainName">Domain Name:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="domainName" [disabled]="isDisabled"
                                    [(ngModel)]="card.details.domainName">
                                   
                            </div>
                          
                            <div class="form-group">
                                <label for="term">Term:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="term" [disabled]="isDisabled"
                                    [(ngModel)]="card.details.numberOfYears">
                            </div>
                            
                            <div class="form-group">
                                <label for="cost">Cost:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="cost" [disabled]="isDisabled" [(ngModel)]="card.details.cost">
                            </div>
                        </div>
                        <!-- Organisation Details Card (Editable) -->
                        <div *ngIf="card.heading === 'Organisation Details'">
                            <div class="form-group">
                                <label for="institutionName">Institution Name:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="institutionName"  (keypress)="preventSpecialChars($event)" 
                                    [(ngModel)]="card.details.institutionName"  #instituteNameControl="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && instituteNameControl.invalid" class="text-danger">
                                institute Name is required.
                            </div>
                            <div class="form-group">
                                <label for="pincode">Pincode:<span style="color:red">*</span></label>
                                <input type="text" class="form-control"  maxlength="6" id="pincode"  (input)="restrictNonNumeric($event)" [(ngModel)]="card.details.pincode"  #pincodeControl="ngModel" required pattern="^[0-9]{6}$">
                            </div>
                            <div *ngIf="formSubmitted && pincodeControl.invalid" class="text-danger">
                                 pincode is required.
                            </div>
                            <div class="form-group">
                                <label for="city">City:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="city" [(ngModel)]="card.details.city"  (keypress)="preventSpecialChars($event)" maxlength="50" #cityNameControl="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && cityNameControl.invalid" class="text-danger">
                                 city is required.
                            </div>
                            <div class="form-group">
                                <label for="state">State:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="state" [(ngModel)]="card.details.state"  (keypress)="preventSpecialChars($event)" maxlength="50"  #stateNameControl="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && stateNameControl.invalid" class="text-danger">
                                state  is required.
                            </div>
                            <div class="form-group">
                                <label for="address">Address:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="address" [(ngModel)]="card.details.address"  maxlength="50" #addressControl="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && addressControl.invalid" class="text-danger">
                                 address is required.
                            </div>
                            <div class="form-group">
                                <label for="stdTelephone">STD Telephone:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="stdTelephone" (input)="restrictNonNumeric($event)" pattern="^[0-9]{10}$" maxlength="10"
                                    [(ngModel)]="card.details.stdTelephone"  #telephoneControl="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && telephoneControl.invalid" class="text-danger">
                                telephone number is required.
                            </div>
                            <div class="form-group">
                                <label for="mobileNo">Mobile No:<span style="color:red">*</span></label>
                                <div class="input-group">  <span class="input-group-text">+91</span>
                                <input type="text" class="form-control" id="mobileNo" (input)="restrictNonNumeric($event)" maxlength="10"
                                    [(ngModel)]="card.details.mobileNumber"  #mobilenumberControl="ngModel" required>
                            </div></div>
                            <div *ngIf="formSubmitted && mobilenumberControl.invalid" class="text-danger">
                                mobile number is required.
                            </div>
                            <div class="form-group">
                                <label for="email">Organisation Email:<span style="color:red">*</span></label>
                                <input type="email" class="form-control" id="email" (input)="validateEmail($event)"
                                    [(ngModel)]="card.details.organisationEmail"  #organizationEmailControl="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && organizationEmailControl.invalid" class="text-danger">
                                organization email is required.
                            </div>
                            <div *ngIf="orgEmailError!=''" class="text-danger">
                                {{orgEmailError}}
                            </div>
                            <div class="form-group">
                                <label for="email">Organisation Documents:<span style="color:red">*</span></label>
                                <app-document-upload id="documentsToUpload" [mode]="'org'"
                                    [organisationUploadedDocs]="orgDocDetails"
                                    [submissionAttempted]="submissionAttempted" (onOrganisationValidationChange)="
                                  handleOrganisationValidationChange($event)
                                " (setOrganisationUploadedDocs)="
                                  setOrganisationUploadedDocuments($event)
                                " (imagePreviewUrl)="onImageViewClick($event)" (pdfPreviewUrl)="onPdfViewClick($event)"
                                    [preview]="preview"></app-document-upload>
                            </div>
                        </div>
                        <!-- Administrative Contact Card (Editable) -->
                        <div *ngIf="card.heading === 'Administrative Contact'">
                            <div class="form-group">
                                <label for="adminFullName">Admin Full Name:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="adminFullName"
                                    [(ngModel)]="card.details.adminFullName" #adminFullName="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && adminFullName.invalid" class="text-danger">
                                admin full name is required.
                            </div>
                            <div class="form-group">
                                <label for="adminEmail">Admin Email:<span style="color:red">*</span></label>
                                <input type="email" class="form-control" id="adminEmail" (input)="validateEmail($event)"
                                    [(ngModel)]="card.details.adminEmail" #adminEmail="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && adminEmail.invalid" class="text-danger">
                                admin email is required.
                            </div>
                            <div *ngIf="orgEmailError!=''" class="text-danger">
                                {{orgEmailError}}
                            </div>
                            <div class="form-group">
                                <label for="adminPhone">Admin Phone:<span style="color:red">*</span></label>
                                <div class="input-group">  <span class="input-group-text">+91</span>
                                <input type="text" class="form-control" id="adminPhone"  (input)="restrictNonNumeric($event)" maxlength="10"
                                    [(ngModel)]="card.details.adminPhone" #adminPhone="ngModel" required>
                            </div></div>
                            <div *ngIf="formSubmitted && adminPhone.invalid" class="text-danger">
                                admin phone number is required.
                            </div>
                            <div class="form-group">
                                <label for="adminAltPhone">Admin Alt Phone:<span style="color:red">*</span></label>
                                <div class="input-group">  <span class="input-group-text">+91</span>
                                <input type="text" class="form-control" id="adminAltPhone"  (input)="restrictNonNumeric($event)" maxlength="10"
                                    [(ngModel)]="card.details.adminAltPhone" #adminAltNumber="ngModel" required>
                            </div></div>
                            <div *ngIf="formSubmitted && adminAltNumber.invalid" class="text-danger">
                               alternate number is required.
                            </div>
                            <div class="form-group">
                                <label for="adminDesignation">Admin Designation:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="adminDesignation" (keypress)="preventSpecialChars($event)" maxlength="50"
                                    [(ngModel)]="card.details.adminDesignation" #adminDesignation="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && adminDesignation.invalid" class="text-danger">
                                designation is required.
                             </div>
                            <div class="form-group">
                                <label for="adminDocuments">Admin Documents:<span style="color:red">*</span></label>
                                
                            </div>
                            <app-document-upload id="documentsToUpload" [mode]="'admin'"
                                [adminUploadedDocs]="adminDocDetails" [submissionAttempted]="submissionAttempted"
                                (onAdminValidationChange)="
                                    handleAdminValidationChange($event)
                                " (setAdminUploadedDocs)="setAdminUploadedDocuments($event)"
                                (imagePreviewUrl)="onImageViewClick($event)" (pdfPreviewUrl)="onPdfViewClick($event)"
                                [preview]="preview"></app-document-upload>
                        </div>
                        <!-- Technical Contact Card (Editable) -->
                        <div *ngIf="card.heading === 'Technical Contact'">
                            <div class="form-group">
                                <label for="techFullName">Tech Full Name:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="techFullName"
                                    [(ngModel)]="card.details.techFullName" #techFullName="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && techFullName.invalid" class="text-danger">
                                Tech full name is required.
                             </div>
                            <div class="form-group">
                                <label for="techEmail">Tech Email:<span style="color:red">*</span></label>
                                <input type="email" class="form-control" id="techEmail" (input)="validateEmail($event)"
                                    [(ngModel)]="card.details.techEmail" #techEmail="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && techEmail.invalid" class="text-danger">
                                Tech Email  is required.
                             </div>
                             <div *ngIf="orgEmailError!=''" class="text-danger">
                                {{orgEmailError}}
                            </div>
                            <div class="form-group">
                                <label for="techPhone">Tech Phone:<span style="color:red">*</span></label>
                                <div class="input-group">  <span class="input-group-text">+91</span>
                                <input type="text" class="form-control" id="techPhone"  (input)="restrictNonNumeric($event)" maxlength="10"
                                    [(ngModel)]="card.details.techPhone" #techphone="ngModel" required>
                            </div></div>
                            <div *ngIf="formSubmitted && techphone.invalid" class="text-danger">
                                phone number is required.
                             </div>
                            <div class="form-group">
                                <label for="techAltPhone">Tech Alt Phone:<span style="color:red">*</span></label>
                                <div class="input-group">  <span class="input-group-text">+91</span>
                                <input type="text" class="form-control" id="techAltPhone"  (input)="restrictNonNumeric($event)" maxlength="10"
                                    [(ngModel)]="card.details.techAltPhone" #techAltNumber="ngModel" required>
                            </div></div>
                            <div *ngIf="formSubmitted && techAltNumber.invalid" class="text-danger">
                                alternate number is required.
                             </div>
                            <div class="form-group">
                                <label for="techDesignation">Tech Designation:<span style="color:red">*</span></label> 
                                <input type="text" class="form-control" id="techDesignation" (keypress)="preventSpecialChars($event)" maxlength="50"
                                    [(ngModel)]="card.details.techDesignation" #techDesignation="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && techDesignation.invalid" class="text-danger">
                                designation is required.
                             </div>
                            <div class="form-group">
                                <label for="techDocuments">Tech Documents:<span style="color:red">*</span></label>
                            </div>
                            <app-document-upload id="documentsToUpload" [mode]="'tech'"
                                [techUploadedDocs]="techDocDetails" [submissionAttempted]="submissionAttempted"
                                (onTechValidationChange)="handleTechValidationChange($event)"
                                (setTechUploadedDocs)="setTechUploadedDocuments($event)"
                                (imagePreviewUrl)="onImageViewClick($event)" (pdfPreviewUrl)="onPdfViewClick($event)"
                                [preview]="preview"></app-document-upload>
                        </div>
                        <!-- Billing Contact Card (Editable) -->
                        <div *ngIf="card.heading === 'Billing Contact'">
                            <div class="form-group">
                                <label for="billFullName">Bill Full Name:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="billFullName"
                                    [(ngModel)]="card.details.billFullName" #billFullName="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && billFullName.invalid" class="text-danger">
                                Bill full name is required.
                             </div>
                            <div class="form-group">
                                <label for="billEmail">Bill Email:<span style="color:red">*</span></label>
                                <input type="email" class="form-control" id="billEmail" (input)="validateEmail($event)"
                                    [(ngModel)]="card.details.billEmail" #billEmail="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && billEmail.invalid" class="text-danger">
                                Bill email is required.
                             </div>
                             <div *ngIf="orgEmailError!=''" class="text-danger">
                                {{orgEmailError}}
                            </div>
                            <div class="form-group">
                                <label for="billPhone">Bill Phone:<span style="color:red">*</span></label>
                                <div class="input-group">  <span class="input-group-text">+91</span>
                                <input type="text" class="form-control" id="billPhone"  (input)="restrictNonNumeric($event)" maxlength="10"
                                    [(ngModel)]="card.details.billPhone" #billPhone="ngModel" required>
                            </div></div>
                            <div *ngIf="formSubmitted && billPhone.invalid" class="text-danger">
                                phone number is required.
                             </div>
                            <div class="form-group">
                                <label for="billAltPhone">Bill Alt Phone:<span style="color:red">*</span></label>
                                <div class="input-group">  <span class="input-group-text">+91</span>
                                <input type="text" class="form-control" id="billAltPhone"  (input)="restrictNonNumeric($event)" maxlength="10"
                                    [(ngModel)]="card.details.billAltPhone" #billAltNumber="ngModel" required>
                            </div></div>
                            <div *ngIf="formSubmitted && billAltNumber.invalid" class="text-danger">
                                 alternate number is required.
                             </div>
                             <div class="form-group">
                                <label for="billDesignation">Bill Designation:<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="billDesignation" (keypress)="preventSpecialChars($event)" maxlength="50"
                                    [(ngModel)]="card.details.billDesignation" #billDesignation="ngModel" required>
                            </div>
                            <div *ngIf="formSubmitted && billDesignation.invalid" class="text-danger">
                                designation is required.
                             </div>
                            <div class="form-group">
                                <label for="billDocuments">Bill Documents:<span style="color:red">*</span></label>
                            </div>
                            <app-document-upload id="documentsToUpload" [mode]="'bill'"
                                [billingUploadedDocs]="billDocDetails" [submissionAttempted]="submissionAttempted"
                                (onBillingValidationChange)="
                              handleBillingValidationChange($event)
                            " (setBillingUploadedDocs)="
                              setBillingUploadedDocuments($event)
                            " (imagePreviewUrl)="onImageViewClick($event)" (pdfPreviewUrl)="onPdfViewClick($event)"
                                [preview]="preview"></app-document-upload>
                        </div>
                        <!-- Name Server Details Card (Editable) -->
                        <div *ngIf="card.heading === 'Name Server Details'">
                            <div class="form-group">
                                <div *ngFor="let item of nameDetails; let i = index">
                                  <!-- Name Server Host Name -->
                                  <label for="hostName{{i}}">Name Server {{i+1}} Host Name:<span style="color:red">*</span></label>
                                  <input 
                                    type="text" 
                                    class="form-control" 
                                    id="hostName{{i}}" 
                                    [(ngModel)]="item.hostName" 
                                    #hostNameRef="ngModel"
                                    name="hostName{{i}}"
                                    required>
                                  <div *ngIf="(hostNameRef.errors?.['required'] && (hostNameRef.touched || formSubmitted))" class="text-danger">
                                    Host Name is required.
                                  </div>
                          
                                  <!-- Name Server IP Address -->
                                  <label for="ipAddress{{i}}">Name Server {{i+1}} IP Address:<span style="color:red">*</span></label>
                                  <input 
                                    type="text" 
                                    class="form-control" 
                                    id="ipAddress{{i}}" 
                                    [(ngModel)]="item.ipAddress" 
                                    #ipAddressRef="ngModel"
                                    name="ipAddress{{i}}"
                                    required
                                    pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$">
                                  <div *ngIf="(ipAddressRef.invalid && (ipAddressRef.touched || formSubmitted))" class="text-danger">
                                    <span *ngIf="ipAddressRef.errors?.['required']">IP Address is required.</span>
                                    <span *ngIf="ipAddressRef.errors?.['pattern']">Invalid IP Address format.</span>
                                  </div>
                                </div>
                          
                                <div *ngIf="nameServerError!=''" class="text-danger">
                                  {{nameServerError}}
                                </div>
                              </div>
                              </div>
                          
                          <!-- Save & Cancel Buttons -->
                          <button class="btn btn-success mt-3" (click)="onSave(card)">Save</button>
                          <button class="btn btn-secondary mt-3" (click)="onCancel(card)">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Checkbox -->
        <div class="card" style="border: 0cap;">
            <div class="card-body">
                <input type="checkbox" id="toggleModalCheckbox"(change)="toggleModal()" (change)="checkBoth()"/>
                <span>&nbsp;&nbsp;I hereby declare that the information given above and in the enclosed documents is true to 
                    the best of my knowledge and belief and nothing has been concealed therein.</span>
            </div>
        </div>
        <div *ngIf="showError" class="error-message" style="color: red;">
            You must agree to the terms and conditions to proceed.
        </div>
        
        <div class="d-flex navigation-buttons justify-content-between mt-2">
            <button class="btn btn-primary" (click)="goBack()">Back</button>
            <!-- [disabled]="enable" need to be added-->
            <button class="btn btn-primary"(click)="onSubmit()">Save & Next</button>
        </div>
        <!-- Loading Spinner -->
        <div *ngIf="isLoading" class="spinner-container">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="previewBillDoc" tabindex="-1" role="dialog" aria-labelledby="xlModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title" id="xlModalLabel">view Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:red; padding: 5px; padding-top: 0px;">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="image-Container">
                    <img [src]="imagUrl" *ngIf="imagUrl" alt="Image Preview" width="400px" height="300px">
                </div>
                <div *ngIf="pdfUrl">
                    <iframe [src]="pdfUrl" width="100%" height="500px"></iframe>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" role="alert">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="previewTechDoc" tabindex="-1" role="dialog" aria-labelledby="xlModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title" id="xlModalLabel">view Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:red; padding: 5px; padding-top: 0px;">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="image-Container">
                    <img [src]="imagUrl" *ngIf="imagUrl" alt="Image Preview" width="400px" height="300px">
                </div>
                <div *ngIf="pdfUrl">
                    <iframe [src]="pdfUrl" width="100%" height="500px"></iframe>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" role="alert">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="previewAdminDoc" tabindex="-1" role="dialog" aria-labelledby="xlModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title" id="xlModalLabel">view Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:red; padding: 5px; padding-top: 0px;">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="image-Container">
                    <img [src]="imagUrl" *ngIf="imagUrl" alt="Image Preview" width="400px" height="300px">
                </div>
                <div *ngIf="pdfUrl">
                    <iframe [src]="pdfUrl" width="100%" height="500px"></iframe>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" role="alert">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="previewOrgDoc" tabindex="-1" role="dialog" aria-labelledby="xlModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" id="modalHeader">
                <h5 class="modal-title" id="xlModalLabel">view Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:red; padding: 5px; padding-top: 0px;">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="image-Container">
                    <img [src]="imagUrl" *ngIf="imagUrl" alt="Image Preview" width="400px" height="300px">
                </div>
                <div *ngIf="pdfUrl">
                    <iframe [src]="pdfUrl" width="100%" height="500px"></iframe>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer" role="alert">
            </div>
        </div>
    </div>
</div>
<div class="modal fade"
    tabindex="-1"
    id="passwordModal"
    role="dialog"
    aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:550px; width:100%">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Sign Using DSC</h1>

          <button type="button" class="btn-close" (click)="closePasswordModal()"></button>

        </div>

        <div class="modal-body">

          <div *ngIf="tokens.length >= 0" style="margin-bottom: 20px; margin-top: 10px;">
            <label for="tokenSelect">Select DSC Token</label><span class="text-danger">*</span>
            <select id="tokenSelect" class="form-control" [(ngModel)]="selectedToken" (change)="onTokenSelect()">
              <option value="" disabled selected>Select Token</option>
              <option *ngFor="let token of tokens" [ngValue]="token">
                {{ token }}
              </option>
            </select>
          </div>
          <div *ngIf="certificates.length >= 0"style=" margin-bottom: 20px;">
            <label for="certificateSelect">Select Certificate</label><span class="text-danger">*</span>
            <select
              id="certificateSelect"
              class="form-control"
              [(ngModel)]="selectedCertificate"
            >
              <option value="" disabled selected>Select Certificate</option>
              <option *ngFor="let certificate of certificates" [ngValue]="certificate">
                {{ certificate.commonName }} - {{ certificate.validTill }}
              </option>
            </select>
          </div>

          <div style=" margin-bottom: 20px;">
            <label for="dataTypeSelect">Data Type</label><span class="text-danger">*</span>
            <select id="dataTypeSelect" class="form-control" [(ngModel)]="selectedDataType">
              <option value="" disabled>Select Data Type</option>
              <option *ngFor="let type of dataTypes" [ngValue]="type">
                {{ type }}
              </option>
            </select>
          </div>

          <label for="passwordInput" class="form-label">Token Pin</label><span class="text-danger">*</span>
          <input
            id="passwordInput"
            type="password"
            class="form-control rounded-input"
            placeholder="Enter token pin"
            [(ngModel)]="tokenPassword"
            style="width:100%; margin-bottom: 10px"
          />
          <div *ngIf="passwordErrorMessage" class="text-danger mt-2">
            {{ passwordErrorMessage }}
          </div>
        </div>

        <div style="display:flex; justify-content: flex-end; margin: 20px; margin-bottom: 15px;">
            <button type="button" class="btn btn-secondary" (click)="closePasswordModal()" style="margin-left: 10px">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="onSign()">Submit</button>
        </div>
      </div>
    </div>
</div>
