<div class="row fixed-top" style="background: #F7F7F7;
; height: 72px;">
    <div class="container col-12">
        <div class="row">

            <!-- idrbt icon -->
            <div class="col-6 header-first" style="padding: 10px; padding-left:40px;">
                <img src="assets/svg/idrbtLogo.svg">
            </div>


            <div class="col-6 custom-element">
                <!-- Notification Icon -->
                <div style="position: relative; display: inline-block;">
                  <div (click)="toggleNotification()" style="cursor: pointer; display: inline-block;">
                    <svg class="first" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M24 10.6667C24 8.54492 23.1571 6.51009 21.6569 5.0098C20.1566 3.50951 18.1217 2.66666 16 2.66666C13.8783 2.66666 11.8434 3.50951 10.3431 5.0098C8.84286 6.51009 8 8.54492 8 10.6667C8 20 4 22.6667 4 22.6667H28C28 22.6667 24 20 24 10.6667Z"
                        stroke="black"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                      <path
                        d="M18.3067 28C18.0723 28.4041 17.7358 28.7395 17.331 28.9727C16.9262 29.2059 16.4672 29.3286 16 29.3286C15.5329 29.3286 15.0739 29.2059 14.6691 28.9727C14.2642 28.7395 13.9278 28.4041 13.6934 28"
                        stroke="black"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round" />
                    </svg>
                  </div>
              
                  <!-- Red Indicator for Unread Notifications -->
                  <div *ngIf="notificationCount > 0 && !isNotificationVisible" class="notification-indicator">{{ notificationCount }}</div>
                </div>
              
                <!-- Notification Modal Component -->
                <app-notification [modalId]="notificationModalId"
                                  [ngClass]="{'modal show': isNotificationVisible, 'modal fade': !isNotificationVisible}"
                                  [isNotificationVisible]="isNotificationVisible" 
                                  (notificationToggle)="onNotificationToggle($event)"
                                  class="modal" 
                                  tabindex="-1" 
                                  aria-labelledby="notificationModalLabel" 
                                  aria-hidden="true">
                </app-notification>
              
                <!-- Profile Icon -->
                <div style="cursor: pointer">
                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" data-toggle="modal" data-target="#exampleModal">
                    <path d="M26.6663 28V25.3333C26.6663 23.9188 26.1044 22.5623 25.1042 21.5621C24.104 20.5619 22.7475 20 21.333 20H10.6663C9.25185 20 7.8953 20.5619 6.8951 21.5621C5.89491 22.5623 5.33301 23.9188 5.33301 25.3333V28" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M16.0003 14.6667C18.9458 14.6667 21.3337 12.2789 21.3337 9.33333C21.3337 6.38781 18.9458 4 16.0003 4C13.0548 4 10.667 6.38781 10.667 9.33333C10.667 12.2789 13.0548 14.6667 16.0003 14.6667Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </div>
              </div>
        </div>
    </div>
</div>
<!-- Modal Structure -->
<div class="modal right fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-right" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #F6FBFD;">

                <h1 style="font-size: 18px;">Profile</h1>
                <button type="button" style="color: #FD5454" (click)="cancelButton()" class="close" id="closeProfilePannel" data-dismiss="modal"
                    aria-label="Close">

                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.49609 2L19.001 20" stroke="#FD5454" stroke-width="2" stroke-linecap="round" />
                        <path d="M1 20L18.5049 2" stroke="#FD5454" stroke-width="2" stroke-linecap="round" />
                    </svg>

                </button>

            </div>
            <div class="modal-body" style="background-color: #F6FBFD;">


                <!-- Icon for upload -->
                <div style=" flex: 1; justify-content: center; display: flex; cursor: pointer;">
                    <label for="file-input" class="image-container">
                        <ng-container>
                            <div class="profile_container" *ngIf="user?.profilePicture; else defaultSvg">
                                <img [src]="'data:image/png/jpg/jpeg;base64,'+user.profilePicture" width="110px"
                                    height="110px" class="profile-pic" />

                                <!-- cross mark to delete a profile pic -->
                                <button type="button" style="color: #FD5454" class="close delete_pic" 
                                (click)="deleteProfilePicture()" (click)="cancelButton()" data-dismiss="modal"
                                    aria-label="Close">

                                    <svg width="20" height="20" viewBox="0 0 20 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.49609 2L19.001 20" stroke="#FD5454" stroke-width="2"
                                            stroke-linecap="round" />
                                        <path d="M1 20L18.5049 2" stroke="#FD5454" stroke-width="2"
                                            stroke-linecap="round" />
                                    </svg>

                                </button>


                            </div>


                        </ng-container>



                        <ng-template #defaultSvg>


                            <svg width="112" height="112" viewBox="0 0 112 112" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="56" cy="56" r="55.5" fill="white" stroke="#E4E4E4" />
                                <g clip-path="url(#clip0_1955_1449)">
                                    <path
                                        d="M72.1338 66.2667C72.1338 67.0447 71.8248 67.7908 71.2747 68.3409C70.7246 68.891 69.9785 69.2 69.2005 69.2H42.8005C42.0226 69.2 41.2764 68.891 40.7263 68.3409C40.1762 67.7908 39.8672 67.0447 39.8672 66.2667V50.1334C39.8672 49.3554 40.1762 48.6093 40.7263 48.0592C41.2764 47.5091 42.0226 47.2 42.8005 47.2H48.6672L51.6005 42.8H60.4005L63.3339 47.2H69.2005C69.9785 47.2 70.7246 47.5091 71.2747 48.0592C71.8248 48.6093 72.1338 49.3554 72.1338 50.1334V66.2667Z"
                                        stroke="#B3B3B3" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M55.9995 63.3333C59.2396 63.3333 61.8661 60.7067 61.8661 57.4666C61.8661 54.2266 59.2396 51.6 55.9995 51.6C52.7594 51.6 50.1328 54.2266 50.1328 57.4666C50.1328 60.7067 52.7594 63.3333 55.9995 63.3333Z"
                                        stroke="#B3B3B3" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_1955_1449">
                                        <rect width="35.2" height="35.2" fill="white"
                                            transform="translate(38.4004 38.4)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </ng-template>
                    </label>

                    <!-- File input hidden for image upload -->
                    <input id="file-input" type="file" accept="image/*" (change)="onChangeFile($event)"
                        style="display: none;">

                </div>

                <div style="text-align: center; padding-top: 10px;">
                    <p *ngIf="user">{{ user.userName }}</p>
                </div>

                <div style="text-align: center; color: black;">
                    <p *ngIf="user">{{ user.userId }}</p>
                </div>

            </div>

            <hr>
            <div style="flex: 15; background-color: white;">


                <div class="text1">
                    <p>Role</p>
                </div>

                <div class="text2">
                    <p>
                    <p *ngIf="user">{{ user.userRoles[0]?.roleName}}</p>
                </div>

                <br>

                <div class="text1">
                    <p>Designation</p>
                </div>

                <div class="text2">
                    <p>Associate Accounting </p>
                </div>

                <br>

                <div class="text1" *ngIf="user?.userRoles[0]?.roleName!='IDRBTADMIN'">
                    <p>Organization</p>
                </div>

                <div class="text2" *ngIf="user?.userRoles[0]?.roleName!='IDRBTADMIN'">
                    <p *ngIf="user">{{user.organisationDetailsDto?.institutionName}}</p>

                </div>
                <br  *ngIf="user?.userRoles[0]?.roleName!='IDRBTADMIN'">
                <div>
                    <p><a (click)="navigateToChangepassword()" class="change-password-link"><span>Change Password</span></a></p>
                </div>
                
                <div style="color: #FD5454; padding-left: 20px; cursor: pointer; margin-top: 10px;"
                 (click)="logout()">
                    Logout
                </div>






            </div>



        </div>


    </div>