
  <div class="sidenavDiv">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav mode="side" opened class="sidenav">
        <ul style="padding-top: 90px;">
          <!-- Applications -->
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/applications">
              <mat-icon>apps</mat-icon>
              <span>Applications</span>
            </a>
          </li>

          <!-- Domains -->
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/domains">
              <mat-icon>public</mat-icon>
              <span>Domains</span>
            </a>
          </li>

          <!-- Invoices -->
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/invoices">
              <mat-icon>description</mat-icon>
              <span>Invoices</span>
            </a>
          </li>

          <!-- Reports -->
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/reports">
              <mat-icon>dashboard</mat-icon>
              <span>Reports</span>
            </a>
          </li>

          <!-- Settings -->
          <li (mouseenter)="toggleBox()">
            <a>
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </a>
            <!-- Submenu -->
            <!-- <ul class="submenu" *ngIf="isSettingsOpen">
              <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink="/users">
                  <span>Users Management</span>
                </a>
              </li> -->
              <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/roles">
                <span>Roles</span>
              </a>
            </li> -->
            <!-- </ul> -->
          </li>
        </ul>


      </mat-sidenav>

      <mat-sidenav-content>
        <!-- Your main content here -->
      </mat-sidenav-content>
    </mat-sidenav-container>

  <!-- Box that opens when Settings is clicked -->
  <div *ngIf="isBoxVisible" class="box visible" (mouseleave)="toggleBoxout()">
    <div class="settings-content">
      <p>Settings</p>
      <!-- Registrar -->
      <a *ngIf="role === 'IDRBTADMIN'" [routerLink]="['/rgtr-um']">DR User Management</a>
      <a *ngIf="role === 'IDRBTADMIN'" [routerLink]="['/rgtr-rgnt-um']">Registrant User Management</a>
      <a *ngIf="role === 'IDRBTADMIN'" [routerLink]="['/rgtr-rgnt-ofd']">Registrant Officer Details</a>
      <a *ngIf="role === 'IDRBTADMIN'" [routerLink]="['/rgtr-role']">Roles</a>
      <!-- Registrant -->
      <a *ngIf="role !== 'IDRBTADMIN'" [routerLink]="['/rgnt-um']">User Management</a>
      <a *ngIf="role !== 'IDRBTADMIN'" [routerLink]="['/rgnt-ofd']">Officer Details Management</a>
      
    </div>
  </div>

</div>





