<div class="sidenavDiv">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav mode="side" opened class="sidenav">
          <ul style="padding-top: 80px;">
            <li>
              <a href="#">
                <mat-icon>apps</mat-icon>
                <span>Applications</span>
              </a>
            </li>
            <li>
              <a href="#">
                <mat-icon>description</mat-icon>
                <span>Invoices</span>
              </a>
            </li>
            <li class="active">
              <a href="#">
                <mat-icon>public</mat-icon>
                <span>Domains</span>
              </a>
            </li>
            <li>
              <a href="#">
                <mat-icon>dashboard</mat-icon>
                <span>Reports</span>
              </a>
            </li>
            <li>
              <a href="#">
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
              </a>
            </li>
          </ul>
        </mat-sidenav>
        <mat-sidenav-content>
          <!-- Your main content here -->
        </mat-sidenav-content>
      </mat-sidenav-container>
      
</div>