<!-- Organisation Section -->
<div *ngIf="mode === 'org'" style="flex: 1;">
  <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px;">
      <!-- Document Type Dropdown -->
      <div style="flex: 1;">
          <select id="organisationDocType" class="form-select" [(ngModel)]="organisationSelectedDocType"
              (change)="handleOrganisationDocTypeChange($event)" required>
              <option value="" disabled selected>Select Document Type</option>
              <option *ngFor="let doc of organisationRequiredDocs" [value]="doc"
                  [disabled]="isOrganisationDocUploaded(doc)">
                  {{ doc }}
              </option>
          </select>
          <div *ngIf="organisationErrors.type === 'docType'"
              style="color: red; font-size: 0.875rem; margin-top: 4px;">
              {{ organisationErrors.message }}
          </div>
      </div>

      <!-- Input Field -->
      <div *ngIf="organisationSelectedDocType === 'License No' ||
                  organisationSelectedDocType === 'Organisation GSTIN' ||
                  organisationSelectedDocType === 'PAN'" style="flex: 1;">
          <input type="text" class="form-control" [(ngModel)]="organisationInputValue"
              (keyup)="clearErrorsIfLicenseNo()"
              (ngModelChange)="handleOrganisationInputChange($event)"
              placeholder="Enter {{ organisationSelectedDocType }}"
              [attr.maxLength]="organisationSelectedDocType === 'Organisation GSTIN' ? 15 : organisationSelectedDocType === 'PAN' ? 10 : null" />
          <div *ngIf="organisationInputFieldErrors.type === 'organisationInputValue'" style="color: red; font-size: 0.875rem;">
              {{ organisationInputFieldErrors.message }}
          </div>
      </div>

      <!-- Upload Button -->
      <button class="btn btn-primary" (click)="handleOrganisationFileUploadClick()" 
          [disabled]="organisationInputFieldErrors.message !== ''">
          Select File & Upload
      </button>
<!-- File Input Field -->



      <input type="file" id="organisationFileInput" hidden (change)="handleOrganisationFileChange($event)"
          accept=".png,.jpg,.jpeg,.pdf" />
  </div>
  <!-- <div *ngIf="organisationErrors.type === 'fileUpload'" 
  style="color: red; font-size: 0.875rem; margin-top: 4px;">
{{ organisationErrors.message }}
</div> -->
  <!-- Uploaded Organisation Documents -->
  <div *ngIf="organisationUploadedDocs.length > 0" style="margin-top: 20px;">
      <div style="display: flex; gap: 10px; flex-wrap: wrap; font-size: 0.85rem;">
          <div *ngFor="let doc of organisationUploadedDocs; let i = index"
              style="display: flex; align-items: center; gap: 5px;" >
              <i class="bi bi-check-circle text-success"></i>
              <span *ngIf="preview===''" data-toggle="modal"
        data-target="#updateModal" style="cursor: pointer;" (click)="clickedDocument(doc)" class="hover-text-change">{{ doc.type }} - {{ doc.fileName }} - {{ doc.value }}</span>
        <span *ngIf="preview!=''" data-toggle="modal"
        data-target="#previewOrgDoc" style="cursor: pointer;" (click)="clickedPreviewDoc(doc)">{{ doc.type }} - {{ doc.fileName }} - {{ doc.value }}</span>
              <button class="btn btn-sm btn-danger" (click)="handleRemoveOrganisationDoc(i)">
                  <i class="bi bi-trash"></i>
              </button>
          </div>
      </div>
  </div>
  <!-- Submission Errors -->
  <div class="d-flex justify-content-center mt-1">
      <p *ngIf="submissionAttempted && missingOrganisationDocs.length > 0" style="color: red; margin-top: 20px;">
          Please upload the following documents: {{ missingOrganisationDocs.join(', ') }}
      </p>
  </div>
  <div>
      <p *ngIf="submissionAttempted && missingOrganisationDocs.length === 0" class="text-success" style="margin-top: 20px;">
          Required documents selected
      </p>
  </div>
  <div  class="d-flex justify-content-center mt-1">
      <p *ngIf="organisationErrors.type === 'fileUpload'" style="color: red; font-size: 0.875rem; margin-top: 20px;">
      {{ organisationErrors.message }}</p>
  </div>
</div>

<!-- Administrative Section -->
<div *ngIf="mode === 'admin'" style="flex: 1;">

  <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px;">
      <div style="flex: 1;">
          <select id="adminDocType" class="form-select" [(ngModel)]="adminSelectedDocType"
              (change)="handleAdminDocTypeChange($event)" required>
              <option value="" disabled selected>Select Document Type</option>
              <option *ngFor="let doc of adminRequiredDocs" [value]="doc" [disabled]="isAdminDocUploaded(doc)">
                  {{ doc }}
              </option>
          </select>
          <div *ngIf="adminErrors.type === 'docType'" style="color: red; font-size: 0.875rem; margin-top: 4px;">
              {{ adminErrors.message }}
          </div>
      </div>
      <div *ngIf="adminSelectedDocType === 'Aadhaar' ||
                  adminSelectedDocType === 'PAN'" style="flex: 1;">
          <input  type="text" class="form-control" [(ngModel)]="adminInputValue"
              (ngModelChange)="handleAdminInputChange($event)" placeholder="Enter {{ adminSelectedDocType }}"
              [attr.maxLength]="adminSelectedDocType === 'Aadhaar' ? 14 : adminSelectedDocType === 'PAN' ? 10 : null" />
          <div *ngIf="adminInputFieldErrors.type === 'adminInputValue'" style="color: red; font-size: 0.875rem; position: absolute;">
              {{ adminInputFieldErrors.message }}
          </div>
      </div>
      <button class="btn btn-primary" (click)="handleAdminFileUploadClick()"
          [disabled]="adminInputFieldErrors.message !== ''">
          Select File & Upload
      </button>
      <input type="file" id="adminFileInput" hidden (change)="handleAdminFileChange($event)"
          accept=".png,.jpg,.jpeg,.pdf" />
  </div>
  <div *ngIf="adminErrors.type === 'fileUpload'" 
     style="color: red; font-size: 0.875rem; margin-top: 4px;">
  {{ adminInputFieldErrors.message }}
</div>
  <div *ngIf="adminUploadedDocs.length > 0" style="margin-top: 20px;">

      <div style="display: flex; gap: 10px; flex-wrap: wrap; font-size: 0.85rem;">
          <div *ngFor="let doc of adminUploadedDocs; let i = index" style="display: flex; align-items: center; gap: 5px;"
          >
              <i class="bi bi-check-circle text-success"></i>
              <span *ngIf="preview===''" data-toggle="modal"
        data-target="#adminDoc" style="cursor: pointer;" (click)="clickedDocument(doc)" class="hover-text-change">{{ doc.type }} - {{ doc.fileName }} - {{ doc.value }}</span>
        <span *ngIf="preview!=''" data-toggle="modal"
        data-target="#previewAdminDoc" style="cursor: pointer;" (click)="clickedPreviewDoc(doc)">{{ doc.type }} - {{ doc.fileName }} - {{ doc.value }}</span>
              <button class="btn btn-sm btn-danger" (click)="handleRemoveAdminDoc(i)">
                  <i class="bi bi-trash"></i>
              </button>
          </div>
      </div>
  </div>
      <!-- Submission Errors -->
      <div class="d-flex justify-content-center mt-1">
        <p *ngIf="contactSubmissionAttempted && missingAdminDocs.length > 0" style="color: red; margin-top: 20px;">
            Please upload the following documents: {{ missingAdminDocs.join(', ') }}
        </p>
    </div>
    <div class="d-flex justify-content-center mt-1">
        <p *ngIf="contactSubmissionAttempted && missingAdminDocs.length === 0" class="text-success" style="margin-top: 20px;">
            Required documents selected
        </p>
    </div>
    <div  class="d-flex justify-content-center mt-1">
        <p *ngIf="adminErrors.type === 'fileUpload'" style="color: red; font-size: 0.875rem; margin-top: 20px;">
        {{ adminErrors.message }}</p>
    </div>
</div>
<!-- Technical Section -->
<div *ngIf="mode === 'tech'" style="flex: 1">
  <div
    style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px"
  >
    <div style="flex: 1">
      <select
        id="techDocType"
        class="form-select"
        [(ngModel)]="techSelectedDocType"
        (change)="handleTechDocTypeChange($event)"
        required
      >
        <option value="" disabled selected>Select Document Type</option>
        <option
          *ngFor="let doc of techRequiredDocs"
          [value]="doc"
          [disabled]="isTechDocUploaded(doc)"
        >
          {{ doc }}
        </option>
      </select>
      <div
        *ngIf="techErrors.type === 'docType'"
        style="color: red; font-size: 0.875rem; margin-top: 4px"
      >
        {{ techErrors.message }}
      </div>
    </div>
    <div
      *ngIf="techSelectedDocType === 'Aadhaar' || techSelectedDocType === 'PAN'"
      style="flex: 1"
    >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="techInputValue"
        (ngModelChange)="handleTechInputChange($event)"
        placeholder="Enter {{ techSelectedDocType }}"
        [attr.maxLength]="
          techSelectedDocType === 'Aadhaar'
            ? 14
            : techSelectedDocType === 'PAN'
            ? 10
            : null
        "
      />
      <div
        *ngIf="techInputFieldErrors.type === 'techInputValue'"
        style="color: red; font-size: 0.875rem; position: absolute;"
      >
        {{ techInputFieldErrors.message }}
      </div>
    </div>
    <button
      class="btn btn-primary"
      (click)="handleTechFileUploadClick()"
      [disabled]="techInputFieldErrors.message !== ''"
    >
      Select File & Upload
    </button>
    <input
      type="file"
      id="techFileInput"
      hidden
      (change)="handleTechFileChange($event)"
      accept=".png,.jpg,.jpeg,.pdf"
    />
  </div>
  <div *ngIf="techErrors.type === 'fileUpload'" 
     style="color: red; font-size: 0.875rem; margin-top: 4px;">
  {{ techErrors.message }}
</div>
  <div *ngIf="techUploadedDocs.length > 0" style="margin-top: 20px">
    <div style="display: flex; gap: 10px; flex-wrap: wrap; font-size: 0.85rem">
      <div
        *ngFor="let doc of techUploadedDocs; let i = index"
        style="display: flex; align-items: center; gap: 5px"
        >
        <i class="bi bi-check-circle text-success"></i>
        <span *ngIf="preview===''" data-toggle="modal"
        data-target="#techDoc" style="cursor: pointer;" (click)="clickedDocument(doc)" class="hover-text-change">{{ doc.type }} - {{ doc.fileName }} - {{ doc.value }}</span>
        <span *ngIf="preview!=''" data-toggle="modal"
        data-target="#previewTechDoc" style="cursor: pointer;" (click)="clickedPreviewDoc(doc)">{{ doc.type }} - {{ doc.fileName }} - {{ doc.value }}</span>
        <button class="btn btn-sm btn-danger" (click)="handleRemoveTechDoc(i)">
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- Submission Errors -->
  <div class="d-flex justify-content-center mt-1">
    <p
      *ngIf="contactSubmissionAttempted && missingTechDocs.length > 0"
      style="color: red; margin-top: 20px"
    >
      Please upload the following documents: {{ missingTechDocs.join(", ") }}
    </p>
  </div>
  <div>
    <p
      *ngIf="contactSubmissionAttempted && missingTechDocs.length === 0"
      class="text-success"
      style="margin-top: 20px"
    >
      Required documents selected
    </p>
  </div>
  
</div>

<!-- Billing Section -->
<div *ngIf="mode === 'bill'" style="flex: 1">
  <div
    style="display: flex; align-items: center; gap: 10px; margin-bottom: 20px"
  >
    <div style="flex: 1">
      <select
        id="billingDocType"
        class="form-select"
        [(ngModel)]="billingSelectedDocType"
        (change)="handleBillingDocTypeChange($event)"
        required
      >
        <option value="" disabled selected>Select Document Type</option>
        <option
          *ngFor="let doc of billingRequiredDocs"
          [value]="doc"
          [disabled]="isBillingDocUploaded(doc)"
        >
          {{ doc }}
        </option>
      </select>
      <div
        *ngIf="billingErrors.type === 'docType'"
        style="color: red; font-size: 0.875rem; margin-top: 4px"
      >
        {{ billingErrors.message }}
      </div>
    </div>
    <div
      *ngIf="
        billingSelectedDocType === 'Aadhaar' || billingSelectedDocType === 'PAN'
      "
      style="flex: 1"
    >
      <input
        type="text"
        class="form-control"
        [(ngModel)]="billingInputValue"
        (ngModelChange)="handleBillingInputChange($event)"
        placeholder="Enter {{ billingSelectedDocType }}"
        [attr.maxLength]="
          billingSelectedDocType === 'Aadhaar'
            ? 14
            : billingSelectedDocType === 'PAN'
            ? 10
            : null
        "
      />
      <div
        *ngIf="billingInputFieldErrors.type === 'billingInputValue'"
        style="color: red; font-size: 0.875rem; position: absolute;"
      >
        {{ billingInputFieldErrors.message }}
      </div>
    </div>
    <button
      class="btn btn-primary"
      (click)="handleBillingFileUploadClick()"
      [disabled]="billingInputFieldErrors.message !== ''"
    >
      Select File & Upload
    </button>
    <input
      type="file"
      id="billingFileInput"
      hidden
      (change)="handleBillingFileChange($event)"
      accept=".png,.jpg,.jpeg,.pdf"
    />
  </div>
  <div *ngIf="billingErrors.type === 'fileUpload'" 
  style="color: red; font-size: 0.875rem; margin-top: 4px;">
{{ billingErrors.message }}
</div>
  <div *ngIf="billingUploadedDocs.length > 0" style="margin-top: 20px">
    <div style="display: flex; gap: 10px; flex-wrap: wrap; font-size: 0.85rem">
      <div
        *ngFor="let doc of billingUploadedDocs; let i = index"
        style="display: flex; align-items: center; gap: 5px"
        >
        <i class="bi bi-check-circle text-success"></i>
        <span *ngIf="preview===''" data-toggle="modal"
        data-target="#billDoc" style="cursor: pointer;" (click)="clickedDocument(doc)" class="hover-text-change">{{ doc.type }} - {{ doc.fileName }} - {{ doc.value }}</span>
        <span *ngIf="preview!=''" data-toggle="modal"
        data-target="#previewBillDoc" style="cursor: pointer;" (click)="clickedPreviewDoc(doc)">{{ doc.type }} - {{ doc.fileName }} - {{ doc.value }}</span>
        <button
          class="btn btn-sm btn-danger"
          (click)="handleRemoveBillingDoc(i)"
        >
          <i class="bi bi-trash"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- Submission Errors -->
  <div class="d-flex justify-content-center mt-1">
    <p
      *ngIf="contactSubmissionAttempted && missingBillingDocs.length > 0"
      style="color: red; margin-top: 20px"
    >
      Please upload the following documents: {{ missingBillingDocs.join(", ") }}
    </p>
  </div>
  <div>
    <p
      *ngIf="contactSubmissionAttempted && missingBillingDocs.length === 0"
      class="text-success"
      style="margin-top: 20px"
    >
      Required documents selected
    </p>
  </div>
  
</div>

<!-- Submission Errors -->
<!-- <div class="d-flex justify-content-center mt-1">
  <p *ngIf="submissionAttempted && missingDocs.length > 0" style="color: red; margin-top: 20px;">
      Please upload the following documents: {{ missingDocs.join(', ') }}
  </p>
  <p *ngIf="submissionAttempted && missingDocs.length === 0" class="text-success" style="margin-top: 20px;">
      Required documents selected
  </p>
</div> -->


